<div class="m-subheader">
    <div  class="d-flex align-items-center">
        <div  class="mr-auto">
            <h3  class="m-subheader__title">
                Rules Settings
            </h3>
        </div>
        <button class="btn btn-link" routerLink="add">
            <i class="fa fa-plus" (click)="addRuleForm = true"> Add Rules</i>
        </button>
        <button class="btn btn-link" routerLink="list" (click)="changeRuleView()">
            <i class="fa" [ngClass]="{'fa-list': isRuleGridView, 'fa-th' : !isRuleGridView}"> {{RuleViewName}} </i>
        </button>
        <!--<button class="btn btn-link" routerLink="grid" (click)="changeRuleView()">-->
            <!--<i class="fa" [ngClass]="{'fa-th': isRuleGridView, 'fa-list' : !isRuleGridView}"> {{RuleViewName}} </i>-->
        <!--</button>-->

    </div>
</div>
<div  class="m-subheader breadcrumb-header">
    <ul  class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li  class="m-nav__item m-nav__item--home">
            <a  class="m-nav__link m-nav__link--icon" routerLink="/dashboard" ng-reflect-href="/dashboard" ng-reflect-router-link="/dashboard" routerlink="/dashboard">
                <i  class="m-nav__link-icon la la-home"></i>
            </a>
        </li>
        <li  class="m-nav__separator">
            -
        </li>


        <li  class="m-nav__item">
            <a  class="m-nav__link" routerLink="/settings" ng-reflect-href="javascript:;" routerlink="/settings" ng-reflect-router-link="/settings">
                    <span  class="m-nav__link-text">
                        Settings
                    </span>
            </a>
        </li>
        <li  class="m-nav__separator">
            -
        </li>

        <li  class="m-nav__item">
            <a  class="m-nav__link" routerLink="/settings/rules" ng-reflect-href="javascript:;" routerlink="/settings/buildings" ng-reflect-router-link="/settings/buildings">
                <span  class="m-nav__link-text active_breadcrumb">
                    Rule
                </span>
            </a>
        </li>

    </ul>
</div>
<hr class="customhr">
<div class="m-content">
    <div class="m-form__section m-form__section--first">
        <router-outlet></router-outlet>

        <!-- ---------------------------Rules Cards Start---------------------------------- -->

            <!-- Moved to Rule Grid Component -->

        <!-- ---------------------------Rules Cards End---------------------------------- -->

            <!--Moved to Rule List Component-->

        <!-- ---------------------------Rules List Start---------------------------------- -->

        <!-- ---------------------------Rules List End---------------------------------- -->

        <!-- ----------------------------- Add Form Start------------------------------- -->

        <!--Moved to Rules Add-Rules Component-->

        <!--<div class="row" *ngIf="addRuleForm">-->
            <!--<app-add-rules></app-add-rules>-->
        <!--</div>-->
        <!-- ---------------------------Add Rule Form Start---------------------------------- -->

    </div>

</div>

