<div class="custom-right-sidebar__content">
    <span class="custom-right-sidebar-close" id="c-right-sidebar-close" (click)="toggleMenuChild()">
        <i class="la la-close"></i>
    </span>
    <ul>
        <li *ngIf="isSubFolder != true "> <i class="fa fa-arrow-circle-o-up" ></i> Move to parent</li>
        <li *ngIf="isSubFolder == true" > <i class="fa fa-arrow-circle-o-down"></i> Move to sub</li>
        <li>Menu Item</li>
        <li>Menu Item</li>
        <li>Menu Item</li>
        <li>Menu Item</li>
    </ul>
</div>
