.m-subheader {
	padding: 10px 30px 0 30px;
}
.breadcrumb-header {
	margin-top: -15px !important;
}
.breadcrumb-header li a span {
	font-size: 11px;
}
.stats-icons {
	font-size: 0.9rem;
	cursor: pointer;
}

.customhr {
    margin-top: 0.0rem;
    margin-bottom: -1.4rem;
}


.m-widget24 .m-widget24__item .m-widget24__title
{
	font-size:1.5rem;
}