<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Global Page
                <small class="fa fa-gear text-muted stats-icons"></small>
                <small class="fa fa-bar-chart text-muted stats-icons"></small>
                <small class="fa fa-search text-muted stats-icons"></small>

            </h3>
        </div>
    </div>
    <button class="btn btn-link pull-right" id="clos"><i class="fa fa-arrow-left"></i> Back </button>
    <!--<span id="close" class="back">&larr;</span>-->
</div>
<div class="m-subheader breadcrumb-header">
    <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
            <a class="m-nav__link m-nav__link--icon" routerLink="/dashboard" ng-reflect-href="#">
                <i class="m-nav__link-icon la la-home"></i>
            </a>
        </li>
        <li class="m-nav__separator">
            -
        </li>


        <li class="m-nav__item">
            <a class="m-nav__link" href="javascript:;" >
                <span class="m-nav__link-text">
                    Global
                </span>
            </a>
        </li>
    </ul>
</div>
<hr class="customhr">
<!-- END: Subheader -->

<div class="m-content">
    <section class="main">
        <div class="wrapper">
            <div class="topbar">
                 <span id="close" class="back">&larr;</span>
                <h2></h2><h3 id="name"></h3>
            </div>
            <!--<span id="close" class="btn-circle btn btn-success pull-right" style="margin-top: 20px; margin-right: 10px; background-color: ghostwhite; color: rgb(0, 0, 0); border: 0px; display: none;">←</span>-->
            <ul id="tp-grid" class="tp-grid">

                <!-- Lawyers-->
                <li data-pile="Lawyers">
                    <a href="#">
                        <span class="tp-info"><span>On to Easter</span></span>
                        <img src="./assets/app/media/img/products/product1.jpg" width="250" height="188"/>
                    </a>
                </li>
                <li data-pile="Lawyers">
                    <a href="#">
                        <span class="tp-info"><span>Love Birds</span></span>
                        <img src="./assets/app/media/img/products/product2.jpg" width="250" height="188"/>
                    </a>
                </li>
                <li data-pile="Lawyers">
                    <a href="#">
                        <span class="tp-info"><span>Here Fishy fishy</span></span>
                        <img src="./assets/app/media/img/products/product3.jpg" width="250" height="188"/>
                    </a>
                </li>

                <!-- Government Services  -->
                <li data-pile="E-Govt Services">
                    <a href="#">
                        <span class="tp-info"><span>Permits &amp; Licensing</span></span>
                        <img src="./assets/app/media/img/products/product3.jpg" width="250" height="188"/>
                    </a>
                </li>
                <li data-pile="E-Govt Services">
                    <a href="#">
                        <span class="tp-info"><span>Tax Collection</span></span>
                        <img src="./assets/app/media/img/products/product11.jpg" width="250" height="188"/>
                    </a>
                </li>
                <li data-pile="E-Govt Services">
                    <a href="#">
                        <span class="tp-info"><span>City Fitness Programs</span></span>
                        <img src="./assets/app/media/img/products/product10.jpg" width="250" height="188"/>
                    </a>
                </li>

                <!-- Transportation  -->
                <li data-pile="Transportation">
                    <a href="#">
                        <span class="tp-info"><span>Airplane</span></span>
                        <img src="./assets/app/media/img/custom/transportation/plane.jpg" width="250" height="188"/>
                    </a>
                </li>
                <li data-pile="Transportation">
                    <a href="#">
                        <span class="tp-info"><span>Ground</span></span>
                        <img src="./assets/app/media/img/custom/transportation/car.jpg" width="250" height="188"/>
                    </a>
                </li>

                <!-- Health  -->
                <li data-pile="Health">
                    <a href="#">
                        <span class="tp-info"><span>Health</span></span>
                        <img src="./assets/app/media/img/products/product4.jpg" width="250" height="188"/>
                    </a>
                </li>
                <li data-pile="Health">
                    <a href="#">
                        <span class="tp-info"><span>Health</span></span>
                        <img src="./assets/app/media/img/products/product5.jpg" width="250" height="188"/>
                    </a>
                </li>


                <!-- Fitness  -->
                <li data-pile="Fitness">
                    <a href="privatePrograms.php">
                        <span class="tp-info"><span>Private Programs</span></span>
                        <img src="./assets/app/media/img/products/product6.jpg" width="250" height="188"/>
                    </a>
                </li>
                <li data-pile="Fitness">
                    <a href="#">
                        <span class="tp-info"><span>Cardio</span></span>
                        <img src="./assets/app/media/img/products/product7.jpg" width="250" height="188" />
                    </a>
                </li>

                <!-- Home Services  -->
                <li data-pile="Condo Services">
                    <a href="#">
                        <span class="tp-info"><span>Cleaning</span></span>
                        <img src="./assets/app/media/img/products/product8.jpg" width="250" height="188" />
                    </a>
                </li>
                <li data-pile="Condo Services">
                    <a href="#">
                        <span class="tp-info"><span>Plumbing</span></span>
                        <img src="./assets/app/media/img/products/product1.jpg" width="250" height="188" />
                    </a>
                </li>
                <li data-pile="Condo Services">
                    <a href="#">
                        <span class="tp-info"><span>Internet</span></span>
                        <img src="./assets/app/media/img/products/product3.jpg" width="250" height="188" />
                    </a>
                </li>

                <li data-pile="Product Buying">
                    <a href="#">
                        <span class="tp-info"><span>Electric</span></span>
                        <img src="./assets/app/media/img/products/product9.jpg" width="250" height="188" />
                    </a>
                </li>
                <li data-pile="Product Buying">
                    <a href="#">
                        <span class="tp-info"><span>Internet</span></span>
                        <img src="./assets/app/media/img/products/product10.jpg" width="250" height="188" />
                    </a>
                </li>

            </ul>
        </div>
    </section>


</div>
