<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Global Page
                <small class="fa fa-gear text-muted stats-icons"></small>
                <small class="fa fa-bar-chart text-muted stats-icons"></small>
                <small class="fa fa-search text-muted stats-icons"></small>

            </h3>
        </div>
        <button class="btn btn-link pull-right" id="close"><i class="fa fa-arrow-left"></i> Back </button>
    </div>


    <!--<span id="close" class="back">&larr;</span>-->
</div>
<div class="m-subheader breadcrumb-header">
    <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
            <a class="m-nav__link m-nav__link--icon" routerLink="/dashboard" ng-reflect-href="#">
                <i class="m-nav__link-icon la la-home"></i>
            </a>
        </li>
        <li class="m-nav__separator">
            -
        </li>


        <li class="m-nav__item">
            <a class="m-nav__link" href="javascript:;" >
                <span class="m-nav__link-text">
                    Global
                </span>
            </a>
        </li>

        <li class="m-nav__separator globalSeparator">
            -
        </li>
        <li class="m-nav__item">
            <a class="m-nav__link" href="javascript:;" >
                <h4 id="name" class="m-nav__link-text">

                </h4>
            </a>
        </li>
    </ul>
</div>
<hr class="customhr">
<!-- END: Subheader -->

<div class="m-content">
    <section class="main">
        <div class="wrapper">
            <!--<div class="topbar">-->
                 <!--<span id="close" class="back">&larr;</span>-->
                <!--<h2></h2><h3 id="namee"></h3>-->
            <!--</div>-->
            <!--<span id="close" class="btn-circle btn btn-success pull-right" style="margin-top: 20px; margin-right: 10px; background-color: ghostwhite; color: rgb(0, 0, 0); border: 0px; display: none;">←</span>-->
            <ul id="tp-grid" class="tp-grid">

                <!-- Lawyers-->
                <li data-pile="Lawyers">
                    <a href="#">
                        <span class="tp-info"><span>Lawyers Panel</span></span>
                        <img src="./assets/app/media/img/custom/lawyers/lawyer_panel.jpg" width="250" height="188"/>
                    </a>
                </li>
                <li data-pile="Lawyers">
                    <a href="#">
                        <span class="tp-info"><span>Prosecution</span></span>
                        <img src="./assets/app/media/img/custom/lawyers/prosecution.jpg" width="250" height="188"/>
                    </a>
                </li>
                <li data-pile="Lawyers">
                    <a href="#">
                        <span class="tp-info"><span>Attorney</span></span>
                        <img src="./assets/app/media/img/custom/lawyers/attorney.jpg" width="250" height="188"/>
                    </a>
                </li>
                <li data-pile="Lawyers">
                    <a href="#">
                        <span class="tp-info"><span>Lawyer</span></span>
                        <img src="./assets/app/media/img/custom/lawyers/lawyer.jpg" width="250" height="188"/>
                    </a>
                </li>

                <!-- Government Services  -->
                <li data-pile="E-Govt Services">
                    <a href="#">
                        <span class="tp-info"><span>Licensing</span></span>
                        <img src="./assets/app/media/img/custom/e_govt_services/license.jpg" width="250" height="188"/>
                    </a>
                </li>
                <li data-pile="E-Govt Services">
                    <a href="#">
                        <span class="tp-info"><span>Tax Collection</span></span>
                        <img src="./assets/app/media/img/custom/e_govt_services/taxes_1.png" width="250" height="188"/>
                    </a>
                </li>
                <li data-pile="E-Govt Services">
                    <a href="#">
                        <span class="tp-info"><span>Permits</span></span>
                        <img src="./assets/app/media/img/custom/e_govt_services/permits.png" width="250" height="188"/>
                    </a>
                </li>

                <!-- Transportation  -->
                <li data-pile="Transportation">
                    <a href="#">
                        <span class="tp-info"><span>Airplane</span></span>
                        <img src="./assets/app/media/img/custom/transportation/plane.jpg" width="250" height="188"/>
                    </a>
                </li>
                <li data-pile="Transportation">
                    <a href="#">
                        <span class="tp-info"><span>Ground</span></span>
                        <img src="./assets/app/media/img/custom/transportation/car.jpg" width="250" height="188"/>
                    </a>
                </li>

                <!-- Health  -->
                <li data-pile="Health">
                    <a href="#">
                        <span class="tp-info"><span>Health</span></span>
                        <img src="./assets/app/media/img/custom/health/health.jpg" width="250" height="188"/>
                    </a>
                </li>
                <li data-pile="Health">
                    <a href="#">
                        <span class="tp-info"><span>Personal Care</span></span>
                        <img src="./assets/app/media/img/custom/health/personal_care.jpg" width="250" height="188"/>
                    </a>
                </li>


                <!-- Fitness  -->
                <li data-pile="Fitness">
                    <a href="#">
                        <span class="tp-info"><span>Private Programs</span></span>
                        <img src="./assets/app/media/img/custom/fitness/fitness.jpg" width="250" height="188"/>
                    </a>
                </li>
                <li data-pile="Fitness">
                    <a href="#">
                        <span class="tp-info"><span>Cardio</span></span>
                        <img src="./assets/app/media/img/custom/fitness/cardio.jpg" width="250" height="188" />
                    </a>
                </li>

                <!-- Home Services  -->
                <li data-pile="Condo Services">
                    <a href="#">
                        <span class="tp-info"><span>Cleaning</span></span>
                        <img src="./assets/app/media/img/custom/condo_services/cleaning.jpg" width="250" height="188" />
                    </a>
                </li>
                <li data-pile="Condo Services">
                    <a href="#">
                        <span class="tp-info"><span>Plumbing</span></span>
                        <img src="./assets/app/media/img/custom/condo_services/plumbing.jpg" width="250" height="188" />
                    </a>
                </li>
                <li data-pile="Condo Services">
                    <a href="#">
                        <span class="tp-info"><span>Internet</span></span>
                        <img src="./assets/app/media/img/custom/condo_services/internet.jpg" width="250" height="188" />
                    </a>
                </li>

                <li data-pile="Product Buying">
                    <a href="#">
                        <span class="tp-info"><span>Electric</span></span>
                        <img src="./assets/app/media/img/products/product9.jpg" width="250" height="188" />
                    </a>
                </li>
                <li data-pile="Product Buying">
                    <a href="#">
                        <span class="tp-info"><span>Internet</span></span>
                        <img src="./assets/app/media/img/products/product10.jpg" width="250" height="188" />
                    </a>
                </li>

            </ul>
        </div>
    </section>


</div>
