<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title">
                Dashboard
            </h3>
        </div>
        <div>
			<span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
				<span class="m-subheader__daterange-label">
					<span class="m-subheader__daterange-title"></span>
					<span class="m-subheader__daterange-date m--font-brand"></span>
				</span>
				<a href="#" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
					<i class="la la-angle-down"></i>
				</a>
			</span>
        </div>
    </div>
</div>
<!-- END: Subheader -->

<div class="m-content">
    <div class="row">
        <div class="col-md-4 text-center">
            <a class="btn btn-outline-primary btn-lg btn-custom  m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air"
               href="#" ng-reflect-href="#">
                <i class="fa fa-hdd-o  fa-custom"></i>
                <small class="hhd-space"> 50 GB </small>
            </a>
            <div class="c-label-air"> Space Used </div>
        </div>
        <div class="col-md-4 text-center">
            <a class="btn btn-outline-primary btn-lg btn-custom  m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air"
               href="#" ng-reflect-href="#">
                <i class="fa fa-hdd-o  fa-custom"></i>
                <small class="hhd-space"> 250 GB </small>
            </a>
            <div class="c-label-air"> Space Allocated </div>
        </div>
        <div class="col-md-4 text-center">
            <a class="btn btn-outline-primary btn-lg btn-custom  m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air"
               href="#" ng-reflect-href="#">
                <i class="fa fa-hdd-o  fa-custom"></i>
                <small class="hhd-space"> 200 GB </small>
            </a>
            <div class="c-label-air"> Space Remaining </div>
        </div>
    </div>
</div>