<div>  <!-- *ngIf="!addRuleForm && !isRuleGridView" -->
    <div class="cold-md-12">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr style="background: #555;color: #fff" role="row"><th>
                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline f">
                        <input type="checkbox" class="group-checkable">
                        <span style="border-color: #fff !important;"></span>
                    </label>
                </th>
                    <th > Rule # </th>
                    <th> Rule Name </th>
                    <th class="sorting" tabindex="0" aria-controls="InvoicesTable" rowspan="1" colspan="1" aria-label=" Invoice Type : activate to sort column ascending" style="width: 0px;"> Rule Type </th>
                    <th class="sorting" tabindex="0" aria-controls="InvoicesTable" rowspan="1" colspan="1" aria-label=" Invoice Date : activate to sort column ascending" style="width: 0px;"> Rule For </th>
                    <th class="sorting" tabindex="0" aria-controls="InvoicesTable" rowspan="1" colspan="1" aria-label=" Status: activate to sort column ascending" style="width: 0px;"> Status</th></tr>
                </thead>
                <tfoot>
                </tfoot>
                <tbody>
                <tr role="row">
                    <td >
                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                            <input type="checkbox" class="chkboxes1">
                            <span></span>
                        </label>
                    </td>
                    <td> 1 </td>
                    <td class="center">
                        Swimming Area
                    </td>
                    <td class="center"> Swimming Pool </td>
                    <td class="center"> Building </td>

                    <td><span class="label label-sm label-success"> In-Active </span></td>
                </tr><tr role="row" class="even">
                    <td class="sorting_1">
                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                            <input type="checkbox" class="chkboxes1-inv">
                            <span></span>
                        </label>
                    </td>
                    <td> 2 </td>
                    <td class="center">
                        Parking
                    </td>
                    <td class="center"> Parking Lot </td>
                    <td class="center"> Building </td>
                    <td><span class="label label-sm label-warning"> Active </span></td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>
