.m-subheader {
    padding: 0px 30px 0 30px;
}
.m-subheader:not(.breadcrumb-header)
{
	margin-top: 15px;
}
.customhr
{
	margin-top: 0.0rem;
    margin-bottom: -1.4rem;
}
.breadcrumb-header li:not(.m-nav__item--home) a span 
{
  font-size: 11px;
}