<div  class="m-subheader">
        <div  class="d-flex align-items-center">
                <div  class="mr-auto">
                    <h3  class="m-subheader__title">
                        Role Detail
                    </h3>
                </div>
              
            </div>
</div>
<hr class="customhr">
<div class="m-content">
       
    <div class="row">
        <div class="col-sm-2" style="font-weight:500;">
            Company Name:
        </div>
        <div class="col-sm-9">
                ABC Company
            </div>
    </div>

    <div class="row">
            <div class="col-sm-2" style="font-weight:500;">
                Relation:
            </div>
            <div class="col-sm-9">
                Manager
                </div>
     </div>

     <div class="row">
            <div class="col-sm-2" style="font-weight:500;">
                Owner:
            </div>
            <div class="col-sm-9">
                    Jane Khan
            </div>
        </div>
</div>