<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Skeleton Page
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a routerLink="/dashboard" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">

    <div class="row">
        <div class="col-md-12">
            <h3> Hello {{title}}</h3>
        </div>
        <div class="col-md-12">
            <button class="btn btn-primary"> {{title}}</button>
            <a routerLink="/dashboard" class="btn btn-primary"> <i class="fa fa-chevron-left"></i> Back to Dash</a>
        </div>
    </div>
    <hr>
    <div>
        Skeleton page
    </div>

    <div class="panel-body">
        <div class="form-group m-form__group row">
            <div class="col-lg-6 m-form__group-sub">
                <label class="form-control-label">
                    * Location:
                </label>
                <!--<input placeholder="search for location" autocorrect="off" autocomplete="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search>-->
                <input type="text" placeholder="Search for Location" autocorrect="off" autocapitalize="off" spellcheck="off" class="form-control" #search [formControl]="searchControl">
                <span class="m-form__help">
                    your location on google maps
                </span>
            </div>
            <div class="col-lg-6 m-form__group-sub">
                <label class="form-control-label">
                    City:
                </label>
                <input type="text" name="city" class="form-control m-input" placeholder="City" value="">
                <span class="m-form__help">
                    City your corporation is located in
                </span>
            </div>
            <div class="col-lg-6 m-form__group-sub">
                <label class="form-control-label">
                    State/Province:
                </label>
                <input type="text" name="state" class="form-control m-input" placeholder="State" value="">
                <span class="m-form__help">
                    City your corporation is located in
                </span>
            </div>
            <div class="col-lg-6 m-form__group-sub">
                <label class="form-control-label">
                    Country:
                </label>
                <input type="text" name="account_corp_country" class="form-control m-input" placeholder="Country" value="">
                <span class="m-form__help">
                    Country your corporation is located in
                </span>
            </div>
        </div>

    </div>

    <hr>


    <agm-map [latitude]="lat" [longitude]="lng" style="height: 300px;">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>

    <br>


    <h3> Contact List</h3>
    <div class="row">
        <div class="col-md-3">
            <ul>
                <!--<li *ngFor="let user of theData['data']">{{user.email}}</li>-->
            </ul>
        </div>
        <!--<div class="col-md-3">-->
            <!--<ul>-->
                <!--<li *ngFor="let user of theData['data']">{{user['roles'][0]['name']}}</li>-->
            <!--</ul>-->
        <!--</div>-->
    </div>
</div>
