<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Skeleton Page
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a routerLink="/dashboard" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">

    <div class="row">

        <div class="col-md-12">
            <h3 class="first">Basic</h3>
            <p-multiSelect [options]="cars" [(ngModel)]="selectedCars1" [panelStyle]="{minWidth:'12em'}"></p-multiSelect>
            <p>Selected Cars: {{selectedCars1}}</p>

            <h3>Template</h3>
            <p-multiSelect [options]="cars" [(ngModel)]="selectedCars2" [panelStyle]="{minWidth:'12em'}">
                <ng-template let-car pTemplate="item">
                    <img src="assets/showcase/images/demo/car/{{car.label}}.png" style="width:24px;display:inline-block;vertical-align:middle"/>
                    <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}</div>
                </ng-template>
            </p-multiSelect>
            <p>Selected Cars: {{selectedCars2}}</p>
        </div>


        <div class="col-md-6">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Show Scrollbar
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="m-scrollable m-scrollable--track m-scroller ps ps--active-y" data-scrollbar-shown="true" data-scrollable="true" data-max-height="200">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <br/>
    <br/>

    <div class="row">
        <div class="col-md-12">
            <h3> Hello {{title}}</h3>
        </div>
        <div class="col-md-12">
            <button class="btn btn-primary"> {{title}}</button>
            <a routerLink="/dashboard" class="btn btn-primary"> <i class="fa fa-chevron-left"></i> Back to Dash</a>
        </div>
    </div>

    <br/>

    <hr>
    <div>
        <h2>Prime NG</h2>

        <p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000">
            <h1 style="font-weight:normal">Left Sidebar</h1>
            <button pButton type="button" (click)="visibleSidebar1 = false" label="Save" class="ui-button-success"></button>
            <button pButton type="button" (click)="visibleSidebar1 = false" label="Cancel" class="ui-button-secondary"></button>
        </p-sidebar>

        <p-sidebar [(visible)]="visibleSidebar2" position="right" [baseZIndex]="10000">
            <h1 style="font-weight:normal">Right Sidebar</h1>
            <button pButton type="button" (click)="visibleSidebar2 = false" label="Save" class="ui-button-success"></button>
            <button pButton type="button" (click)="visibleSidebar2 = false" label="Cancel" class="ui-button-secondary"></button>
        </p-sidebar>

        <p-sidebar [(visible)]="visibleSidebar3" position="top" [baseZIndex]="10000">
            <h1 style="font-weight:normal">Top Sidebar</h1>
            <button pButton type="button" (click)="visibleSidebar3 = false" label="Save" class="ui-button-success"></button>
            <button pButton type="button" (click)="visibleSidebar3 = false" label="Cancel" class="ui-button-secondary"></button>
        </p-sidebar>

        <p-sidebar [(visible)]="visibleSidebar4" position="bottom" [baseZIndex]="10000">
            <h1 style="font-weight:normal">Bottom Sidebar</h1>
            <button pButton type="button" (click)="visibleSidebar4 = false" label="Save" class="ui-button-success"></button>
            <button pButton type="button" (click)="visibleSidebar4 = false" label="Cancel" class="ui-button-secondary"></button>
        </p-sidebar>

        <p-sidebar [(visible)]="visibleSidebar5" [fullScreen]="true" [baseZIndex]="10000">
            <h1 style="font-weight:normal">Full Screen Sidebar</h1>
            <button pButton type="button" (click)="visibleSidebar5 = false" label="Save" class="ui-button-success"></button>
            <button pButton type="button" (click)="visibleSidebar5 = false" label="Cancel" class="ui-button-secondary"></button>
        </p-sidebar>

        <button pButton type="button" (click)="visibleSidebar1 = true" icon="pi pi-arrow-right"></button>
        <button pButton type="button" (click)="visibleSidebar2 = true" icon="pi pi-arrow-left"></button>
        <button pButton type="button" (click)="visibleSidebar3 = true" icon="pi pi-arrow-down"></button>
        <button pButton type="button" (click)="visibleSidebar4 = true" icon="pi pi-arrow-up"></button>
        <button pButton type="button" (click)="visibleSidebar5 = true" icon="pi pi-th-large"></button>



        <p-contextMenu [target]="contextMenu" [model]="items"></p-contextMenu>
        <button pButton #contextMenu type="button" icon="fa fa-th"></button>
    </div>
    <hr>
    <br/>
    <div class="panel-body">
        <div class="form-group m-form__group row">
            <div class="col-lg-6 m-form__group-sub">
                <label class="form-control-label">
                    * Location:
                </label>
                <!--<input placeholder="search for location" autocorrect="off" autocomplete="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search>-->
                <input type="text" placeholder="Search for Location" autocorrect="off" autocapitalize="off" spellcheck="off" class="form-control" #search [formControl]="searchControl">
                <span class="m-form__help">
                    your location on google maps
                </span>
            </div>
            <div class="col-lg-6 m-form__group-sub">
                <label class="form-control-label">
                    City:
                </label>
                <input type="text" name="city" class="form-control m-input" placeholder="City" value="">
                <span class="m-form__help">
                    City your corporation is located in
                </span>
            </div>
            <div class="col-lg-6 m-form__group-sub">
                <label class="form-control-label">
                    State/Province:
                </label>
                <input type="text" name="state" class="form-control m-input" placeholder="State" value="">
                <span class="m-form__help">
                    City your corporation is located in
                </span>
            </div>
            <div class="col-lg-6 m-form__group-sub">
                <label class="form-control-label">
                    Country:
                </label>
                <input type="text" name="account_corp_country" class="form-control m-input" placeholder="Country" value="">
                <span class="m-form__help">
                    Country your corporation is located in
                </span>
            </div>
        </div>

    </div>

    <hr>


    <agm-map [latitude]="lat" [longitude]="lng" style="height: 300px;">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>

    <br>


    <h3> Contact List</h3>
    <div class="row">
        <div class="col-md-3">
            <ul>
                <!--<li *ngFor="let user of theData['data']">{{user.email}}</li>-->
            </ul>
        </div>
        <!--<div class="col-md-3">-->
            <!--<ul>-->
                <!--<li *ngFor="let user of theData['data']">{{user['roles'][0]['name']}}</li>-->
            <!--</ul>-->
        <!--</div>-->
    </div>
</div>
