.body {
    background-color: transparent;
    min-height: auto;
    display: flex;
    font-size: 12px;
    color: #6f727d;
    margin-bottom: 20px;
    height: 90%;
}

.custom-font-size {
    font-size: 15px;
}

.custom-padding-right {
    padding-right: 0px;
}

.custom-terms-main-div {
    display: none;
    z-index: 100003;
}

.custom-rail-x {
    left: 0px;
    bottom: 0px;
}

.custom-thumb-x {
    left: 0px;
    width: 0px;
}

.custom-rail-y {
    top: 0px;
    right: 4px;
    height: 200px;
}

.custom-thumb-y {
    top: 0px;
    height: 0px;
}

.cutom-terms-modal-body {
    height: 200px;
    overflow: hidden;
}

.custom-card-owner-setting {
    font-weight: 400;
    font-size: 12px;
}

.custom-padding-left-top-zero {
    padding-top: 0px;
    padding-left: 0px;
}

.custom-margin-right-book-button {
    margin-right: 7px;
    float: right;
}

.custom-float-right {
    float: right;
}

.custom_margin_bottom {
    margin-bottom: 0px;
}

.custom_padding_left {
    padding-left: 0px;
    margin-left: -10px;
}

@media (max-width: 767px) {
    .custom_padding_left {
        margin-top: -24px;
        padding-left: 50px;
    }
    .service-item a {
        margin-top: -24px !important;
    }
    .card-left {
        margin-top: 10px;
    }
}

.custom-border-bottom:hover {
    text-decoration: none;
}

.custom-border-map-button:hover {
    outline: none;
    background-color: #5867dd;
}

.custom-margin-bottom-zero {
    margin-bottom: 0px;
}

.checked {
    color: orange;
}

.custom-margin-right-forty {
    margin-right: 40px;
}

.stats-icons[_ngcontent-c3] {
    font-size: 0.8rem;
    cursor: pointer;
}


/* Condo */

.m-subheader {
    padding: 10px 30px 0 30px;
}

.breadcrumb-header {
    margin-top: -15px !important;
}

.breadcrumb-header li a span {
    font-size: 11px;
}

.stats-icons {
    font-size: 0.8rem;
    cursor: pointer;
}

.m-content {
    padding-top: 10px;
}

.c-padding10 {
    padding: 10px 0px 0px 10px;
}

.m-widget14 .m-widget14__header .m-widget14__desc {
    font-size: 2rem;
}

.m-widget14 .m-widget14__header {
    padding: 0rem 0;
    margin-bottom: 0rem;
}

.m-widget14 {
    padding: 1rem 2rem 1rem 2rem;
}

.breadcrumb-header[_ngcontent-c3] li[_ngcontent-c3] a[_ngcontent-c3] span[_ngcontent-c3] {
    font-size: 11px;
}

.card-left {
    background-color: white;
    background-repeat: no-repeat;
    background-size: 100% 180px;
    background-position: center bottom;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 10px;
    border-right: 2px solid rgba(6, 138, 205, 0.3);
    box-shadow: -3px 1px 15px 1px rgba(69, 65, 78, 0.08);
}

.card-left p {
    color: black;
}

.card-left .m-checkbox {
    /*margin: 6px; */
    margin-top: -6px;
    padding: 0px;
    margin-left: -6px;
}

.home-card label {
    float: left;
    margin-top: 4px;
    position: absolute;
    left: 20px;
}

.card-right {
    background-color: white;
    padding: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: auto;
    box-shadow: 7px 1px 25px -6px rgba(69, 65, 78, 0.08);
    padding-bottom: 18px;
}

.personimage {
    width: 30px;
    height: 30px;
    margin-left: -5px;
    z-index: 999;
}

.persontype,
.personname {
    margin-top: 0px;
    margin-bottom: 0px;
}

.personappartmentno,
.personbuildingname,
.personaddress,
.persontype,
.agreementtype {
    margin-bottom: 0px;
    font-size: 11px;
    color: #6f727d !important;
}

.personappartmentno i,
.personbuildingname i,
.personaddress i,
.agreementtype i {
    width: 22px;
}

.personname {
    font-weight: 600;
    font-size: 12px;
}

.m-widget14__stat {
    font-size: 1.8rem;
    font-weight: 500;
    position: absolute;
    top: 41%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.m-widget14__stat {
    color: #dadbe2;
}

.m-widget26 canvas {
    width: 106px !important;
    height: 60px !important;
}

.personimage:hover {
    transform: scale(2.5);
    transition: transform 1s ease-in-out;
    z-index: 9999;
}

.personMoreDetailsButton {
    color: #068ace;
    font-size: 12px;
}

.singlepersonrow,
.twopersonrow {
    padding: 0px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.twopersonrow .personname,
.twopersonrow .persontype {
    margin-left: -7px;
}

.onepersonrow {
    text-align: center;
    margin-top: -10px;
    margin-bottom: 10px;
}

.m-widget26__chart {
    height: 37px !important;
}

.m-widget26__number {
    font-weight: 600;
    font-size: 20px;
}

.moreDetailSection {
    background-color: #f8f8f8;
    box-shadow: 0px 4px 12px -4px rgba(120, 114, 120, 1);
    margin-right: 0px;
    z-index: 999;
}

.breadcrumb-header {
    margin-top: -30px;
    margin-bottom: -15px;
}

.breadcrumb-header li:not(.m-nav__item--home) a span {
    font-size: 11px;
}

.breadcrumb-header .m-nav__item--home .m-nav__link-icon {
    width: 22px;
}

.m-subheader__title small {
    font-size: 0.8rem;
    color: grey;
    cursor: pointer;
}

.service-item hr {
    margin: 5px 0px 7px 0px;
}

agm-map {
    height: 600px;
}

.servicesListForm .services-categories {
    padding-left: 48px;
}

.servicesListForm .m-widget3__item {
    margin-bottom: 25px;
}

.ReviewStars span {
    font-size: 10px;
}

.TheReview {
    border-bottom: 1px solid #f2f3f7;
    margin-bottom: 15px;
}

.serviceCard>.row {
    width: 95%;
}

.detailSection .services-categories {
    max-height: 350px;
    overflow-y: scroll;
}

.detailsSectionDiv>div {
    margin-top: 28px;
}

.m-body .m-content {
    padding: 0px 0px;
}

.m-portlet {
    margin-bottom: 0px;
}

.m-subheader__title small {
    margin-left: 7px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

@media(max-width: 767px) {
    .custom-margin-right-book-button {
        margin-right: 0px;
    }
}

.add-line-break {
    display: none;
}

@media(max-width: 440px) {
    .add-line-break {
        display: inline;
    }
}

.custom-p2-setting {
    text-align: right;
    font-weight: 500;
    margin-top: -10px;
}

.custom-hr-style {
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 55%;
}

.detailBtn {
    color: black;
}

.btnGroupMap {
    float: right;
}

.ordersNo {
    font-weight: 600;
    font-size: 1.5rem;
}

.reportFontSize {
    font-size: 1.3rem;
}

.btnSmall {
    font-size: 0.8rem;
}

.marginBottom {
    margin-bottom: 0px;
    padding-left: 0px;
}

.categoryStyle {
    max-width: 40%;
    margin-left: 20%;
    position: absolute;
    margin-top: -25px;
}

.marginOnBottom {
    padding-bottom: 0px;
}

.btnLinkColor {
    color: black;
}

.subHeaderTopMargin {
    margin-top: -17px;
}

.mapGreater {
    padding-bottom: 0px;
}

.verticalsMargin {
    margin-right: 2px;
}


/*------------------Custom Scroll Bar Start------------------------*/


/* width */

.verticals::-webkit-scrollbar {
    width: 3px;
}


/* Track */

.verticals::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

.verticals::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

.verticals::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/*------------------Custom Scroll Bar END------------------------*/

agm-map {
    height: 100% !important;
}

.btn-sm,
.btn-group-sm>.btn {
    font-size: 0.70rem;
}



#m_tabs_1_2 h6
{
  margin-top:15px;
}

.relatedProducts
{
    margin-top:20px;
}