<div class="row" style="height: 100%;">
        <div class="verticals" id="vertical_1">
            <div class="innerCards stackEffect active_card" id="card1">
                <h6 class="innerCardsTitle m-menu__link-text">Financial Planning</h6>
            </div>
        </div>

        <div class="verticals" id="vertical_2">
          
            <div class="innerCards stackEffect"  id="card2">
                <h6 class="innerCardsTitle m-menu__link-text">Budget</h6>
                 
                <a routerLink="Budget"><i class="fa fa-expand text-muted pull-right c-expand-icon" ></i></a>
            </div>

            <div class="innerCards stackEffect" id="card5" >
                <h6 class="innerCardsTitle m-menu__link-text">Billing &amp; Subscriptions</h6>
                <!-- <i class="fa fa-expand text-muted pull-right c-expand-icon" (click)="expandCard('amenities_global'); visibleSidebar5 = true" ></i> -->
                <a routerLink="Billing-and-Subscription"> <i class="fa fa-expand text-muted pull-right c-expand-icon"  ></i></a>
            </div>

           

            <div class="innerCards stackEffect" id="card5" >
                <h6 class="innerCardsTitle m-menu__link-text">Health</h6>
                <!-- <i class="fa fa-expand text-muted pull-right c-expand-icon" (click)="expandCard('amenities_global'); visibleSidebar5 = true" ></i> -->
                <a routerLink="health"> <i class="fa fa-expand text-muted pull-right c-expand-icon"  ></i></a>
            </div>


            <div class="innerCards stackEffect" id="card7" >
                <h6 class="innerCardsTitle m-menu__link-text">Travel</h6>
                <!-- <i class="fa fa-expand text-muted pull-right c-expand-icon" (click)="expandCard('billing-services_global'); visibleSidebar5 = true" ></i> -->
                <a routerLink="travel"> <i class="fa fa-expand text-muted pull-right c-expand-icon"  ></i> </a>
            </div>


        </div>

</div>