<div id="c-global-menu">
    <div class="m-subheader">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title">  <!-- m-subheader__title--separator -->
                    Connect to us
                </h3>
                <!--<ul class="m-subheader__breadcrumbs m-nav m-nav&#45;&#45;inline">-->
                    <!--<li class="m-nav__item m-nav__item&#45;&#45;home">-->
                        <!--<a routerLink="/dashboard" class="m-nav__link m-nav__link&#45;&#45;icon">-->
                            <!--<i class="m-nav__link-icon la la-home"></i>-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->
            </div>
            <div>
                <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
                    <a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                        <i class="la la-plus m--hide"></i>
                        <i class="la la-ellipsis-h"></i>
                    </a>
                    <div class="m-dropdown__wrapper">
                        <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                        <div class="m-dropdown__inner">
                            <div class="m-dropdown__body">
                                <div class="m-dropdown__content">
                                    <ul class="m-nav">
                                        <li class="m-nav__section m-nav__section--first m--hide">
                                            <span class="m-nav__section-text">
                                                Quick Actions
                                            </span>
                                        </li>
                                        <li class="m-nav__item">
                                            <a href="" class="m-nav__link">
                                                <i class="m-nav__link-icon fa fa-plus"></i>
                                                <span class="m-nav__link-text">
                                                    New Customer
                                                </span>
                                            </a>
                                        </li>
                                        <li class="m-nav__item">
                                            <a href="" class="m-nav__link">
                                                <i class="m-nav__link-icon flaticon-chat-1"></i>
                                                <span class="m-nav__link-text">
                                                    Messages
                                                </span>
                                            </a>
                                        </li>
                                        <li class="m-nav__item">
                                            <a href="" class="m-nav__link">
                                                <i class="m-nav__link-icon flaticon-info"></i>
                                                <span class="m-nav__link-text">
                                                    FAQ
                                                </span>
                                            </a>
                                        </li>
                                        <li class="m-nav__item">
                                            <a href="" class="m-nav__link">
                                                <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                                <span class="m-nav__link-text">
                                                    Support
                                                </span>
                                            </a>
                                        </li>
                                        <li class="m-nav__separator m-nav__separator--fit"></li>
                                        <li class="m-nav__item">
                                            <a href="javascript:;" (click)="closeGlobal()" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
                                                Close
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Subheader -->

    <!-- Content Begins-->

    <div class="m-content">

        <div class="row">
            <div class="col-md-2 text-center">
                <a class="btn btn-outline-primary btn-lg btn-custom  m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air" href="#" ng-reflect-href="#">
                    <i class="fa fa-grav  fa-custom"></i>
                </a>
                <div class="c-label-air"> Challenges </div>

            </div>
            <div class="col-md-2 text-center">
                <a class="btn btn-outline-primary  btn-lg btn-custom  m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air" href="#" ng-reflect-href="#">
                    <i class="fa fa-lightbulb-o fa-custom"></i>
                </a>
                <div class="c-label-air"> Ideas </div>
            </div>
            <div class="col-md-2 text-center">
                <a class="btn btn-outline-primary  btn-lg btn-custom  m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air" data-target="#c_modal_support" data-toggle="modal" href="#" ng-reflect-href="#">
                    <i class="fa fa-support fa-custom"></i>
                </a>
                <div class="c-label-air"> Support </div>
            </div>
            <div class="col-md-2 text-center">
                <a class="btn btn-outline-primary  btn-lg btn-custom  m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air" href="#" ng-reflect-href="#">
                    <i class="fa fa-question-circle-o  fa-custom"></i>
                </a>
                <div class="c-label-air"> Q &amp; A </div>
            </div>
            <div class="col-md-2 text-center">
                <a class="btn btn-outline-primary  btn-lg btn-custom  m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air" data-target="#c_modal_help" data-toggle="modal" href="#" ng-reflect-href="#">
                    <i class="fa fa-support fa-custom"></i>
                </a>
                <div class="c-label-air"> Help </div>
            </div>
            <div class="col-md-2 text-center">
                <a class="btn btn-outline-primary  btn-lg btn-custom  m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air" href="#" ng-reflect-href="#">
                    <i class="fa fa-line-chart fa-custom"></i>
                </a>
                <div class="c-label-air"> Survey </div>
            </div>
            <div class="col-md-2 text-center">
                <a class="btn btn-outline-primary  btn-lg btn-custom  m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air" href="#" ng-reflect-href="#">
                    <i class="fa fa-search fa-custom">
                        <small class="fa fa-user"></small>
                    </i>
                </a>
                <div class="c-label-air"> Job Portal </div>
            </div>
        </div>
    </div>
            <!--<a class="btn btn-outline-primary btn-md 	m-btn m-btn&#45;&#45;icon m-btn&#45;&#45;pill" href="#" ng-reflect-href="#">-->
                <!--<span>-->
                    <!--<i class="fa fa-archive"></i>-->
                    <!--<span>-->
                        <!--Challenges-->
                    <!--</span>-->
                <!--</span>-->
            <!--</a>-->
</div>

<!-- Modals Begin-->

<!-- Knowledge Management/Help Modal Start-->
<div aria-labelledby="helpModalLabel" class="modal fade show" id="c_modal_help" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="helpModalLabel">
                    Knowledge Management
                </h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
						<span aria-hidden="true">
							×
						</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="form-control-label" for="help-recipient-name">
                            Recipient:
                        </label>
                        <input class="form-control" id="help-recipient-name" type="text">
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="help-message-text">
                            Message:
                        </label>
                        <textarea class="form-control" id="help-message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">
                    Close
                </button>
                <button class="btn btn-primary" type="button">
                    Submit
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Knowledge Management Modal Ends-->

<!-- Support Ticket Modal Start-->
<div aria-labelledby="supportModalLabel" class="modal fade show" id="c_modal_support" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="supportModalLabel">
                    Support Ticket
                </h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
						<span aria-hidden="true">
							×
						</span>
                </button>
            </div>
            <div class="modal-body">
                <!--<form>-->
                    <!--<div class="form-group">-->
                        <!--<label class="form-control-label" for="support-recipient-name">-->
                            <!--Recipient:-->
                        <!--</label>-->
                        <!--<input class="form-control" id="support-recipient-name" type="text">-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label class="form-control-label" for="support-message-text">-->
                            <!--Message:-->
                        <!--</label>-->
                        <!--<textarea class="form-control" id="support-message-text"></textarea>-->
                    <!--</div>-->
                <!--</form>-->
                <div class="col-md-6 col-md-offset-3">
                    <iframe width="600" height="850" src="http://intranet.citzen.one/crm/forms/ticket" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">
                    Close
                </button>
                <button class="btn btn-primary" type="button">
                    Submit
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Support Ticket Modal Ends-->

<!-- Modals End-->