<div class="m-subheader">
    <div class="d-flex align-items-center">
            <div class="mr-auto">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="m-form__heading-title float-left">
                                {{buildingName}}
                                <a href="#" style="color:grey;" (click)="onSearchClicked()"><i class="fa fa-search"></i></a>
                                </h3>
                               
                                <div  class="form-group m-form__group " *ngIf="searchField" style="display:inline-block; margin-left:25px;">
                                        <!-- <label  for="inventory_subCat">
                                            Parking Floor
                                        </label> -->
                                        <input type="text" class="form-control TopFilterSelect" />
                                    </div>
                    </div>
                </div>
            </div>
            
        <button class="btn btn-link">
            <i class="fa fa-plus" (click)="addShopForm = true"> Add Shop</i>
        </button>
        <button class="btn btn-link" (click)="changeShopView()">
            <i class="fa" [ngClass]="{'fa-list': isShopGridView, 'fa-th' : !isShopGridView}"> {{ShopViewName}} </i>
        </button>
        </div>
</div>
<div class="m-subheader breadcrumb-header">
    <ul  class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li  class="m-nav__item m-nav__item--home">
            <a  class="m-nav__link m-nav__link--icon"  routerlink="/dashboard" ng-reflect-router-link="/dashboard" href="/dashboard">
                <i  class="m-nav__link-icon la la-home"></i>
            </a>
        </li>
        <li  class="m-nav__separator">
            -
        </li>
       
       
        <li  class="m-nav__item">
            <a  routerLink="/settings" class="m-nav__link" href="javascript:;" ng-reflect-href="javascript:;">
                <span  class="m-nav__link-text">
                    Settings
                </span>
            </a>
        </li>
        <li  class="m-nav__separator">
                -
            </li>
           
           
            <li  class="m-nav__item">
                <a  routerLink="/settings/buildings" class="m-nav__link" href="javascript:;" ng-reflect-href="javascript:;">
                    <span  class="m-nav__link-text">
                        Buildings     
                    </span>
                </a>
            </li>
          

                <li  class="m-nav__separator">
                    -
                </li>

                <li  class="m-nav__item">
                    <a  routerLink="/settings/buildings/1/shops" class="m-nav__link" href="javascript:;" ng-reflect-href="javascript:;">
                        <span  class="m-nav__link-text active_breadcrumb">
                            Shops 
                        </span>
                    </a>
                </li>
              
    </ul>
</div>
<hr class="customhr">
<div class="m-content">
    <div class="m-form__section m-form__section--first">


        <!-- ---------------------------Inventory Cards Start---------------------------------- -->

        <div class="row" *ngIf="!addShopForm && isShopGridView">

            <div  class="col-sm-12 col-md-3 col-xl-4" *ngFor='let shop of shops; let i = index;'>
                <div  class="body organ1">
                    <div  class="row" style="margin:0px;">
                        <div  class="card-left col-lg-3">
                           
                            <div  class="row onepersonrow">
                                <div  class="col-md-12">
                                    <img  class="cardimage" [src]="shop.img">
                                   
                                </div>
                            </div>
                        </div>
                        <div  class="card-right col-lg-9" id="" style="background-color: rgb(255, 255, 255); padding: 10px; border-top-right-radius: 5px; border-bottom-right-radius: 5px;">
                            <h6  class="text-muted pull-left"><i  class="fa fa-cog"></i> Shops Details</h6>
                            <i class="fa fa-trash pull-left" style="padding-left: 10px;" (click)="deleteShop(i)"></i>
                            <label  class="m-checkbox m-checkbox--solid m-checkbox--single m-checkbox--brand pull-right checkbox-position">
                                <input  class="chkboxes" type="checkbox">
                                <span ></span>
                            </label>
                            <div  class="clearfix"></div>
                            <div  class="row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-4 cardName">
                                                    Name:
                                            </div>
    
                                            <div class="col-sm-8 carddetail">
                                                    {{shop.name}}
                                                </div>
    
                                        </div>

                                        <div class="row">
                                                <div class="col-sm-4 cardName">
                                                        Type:
                                                </div>
        
                                                <div class="col-sm-8 carddetail">
                                                        {{shop.type}}
                                                    </div>
        
                                            </div>
    
                                        <div class="row">
                                                <div class="col-sm-4 cardName">
                                                        Area:
                                                </div>
        
                                                <div class="col-sm-8 carddetail">
                                                        {{shop.area}}
                                                    </div>
        
                                            </div>

                                           

                                         
    
                                                <!-- <div class="row">
                                                        <div class="col-sm-4 cardName">
                                                                Capacity:
                                                        </div>
                
                                                        <div class="col-sm-8 carddetail">
                                                                {{suite.allowed}}
                                                            </div>
                
                                                    </div> -->

                                                    <div class="row">
                                                            <div class="col-sm-4 cardName">
                                                                    Status:
                                                            </div>
                    
                                                            <div class="col-sm-8 carddetail">
                                                                    {{shop.bookable}}
                                                                </div>
                    
                                                        </div>
                                                    
                                    </div>
                                  
                                </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- ---------------------------Inventories Cards End---------------------------------- -->

        <!-- ---------------------------Inventories List Start---------------------------------- -->
        <div *ngIf="!addShopForm && !isShopGridView">
            <div class="cold-md-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr style="background: #555;color: #fff" role="row"><th>
                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline f">
                                <input type="checkbox" class="group-checkable">
                                <span style="border-color: #fff !important;"></span>
                            </label>
                        </th>
                            <th > Shop # </th>
                            <th> Shop Name </th>
                               <th> Shop Type </th>
                            <th class="sorting" tabindex="0" aria-controls="InvoicesTable" rowspan="1" colspan="1" aria-label=" Invoice Type : activate to sort column ascending" style="width: 0px;"> Area </th>
                            <th class="sorting" tabindex="0" aria-controls="InvoicesTable" rowspan="1" colspan="1" aria-label=" Invoice Date : activate to sort column ascending" style="width: 0px;"> Capacity </th>
                            <th class="sorting" tabindex="0" aria-controls="InvoicesTable" rowspan="1" colspan="1" aria-label=" Invoice Date : activate to sort column ascending" style="width: 0px;"> Description </th>
                        </thead>
                        <tfoot>
                        </tfoot>
                        <tbody>
                        <tr role="row">
                            <td >
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input type="checkbox" class="chkboxes1">
                                    <span></span>
                                </label>
                            </td>
                            <td> 1 </td>
                            <td class="center">
                                Room 1
                            </td>
                            <td class="center"> Grocery </td>
                            <td class="center"> 300 sq/m </td>
                            <td class="center"> 100</td>
                            <td class="center"> Party Room for all occasions</td>
                          
                        </tr>   <tr role="row">
                                <td >
                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                        <input type="checkbox" class="chkboxes1">
                                        <span></span>
                                    </label>
                                </td>
                                <td> 2 </td>
                                <td class="center">
                                    Room 2
                                </td>
                                <td class="center"> Shopping Mall </td>
                                <td class="center"> 200 sq/m </td>
                               
                                <td class="center"> 80</td>
                                <td class="center"> Room for bithday celebrations</td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
        <!-- ---------------------------Inventories List End---------------------------------- -->

        <!-- ----------------------------- Add Form Start------------------------------- -->
        <div class="row" *ngIf="addShopForm">
            <div class="col-md-6">
                <div class="form-group m-form__group">
                    <label >
                         Shop Name:
                    </label>
                    <input  class="form-control form-control-md m-input m-input--air" placeholder="e.g. ABC Shop" #shopName type="text">
                </div>

                <div class="form-group m-form__group">
                    <label >
                         Shop Type:
                    </label>
                    <select  class="form-control form-control-md m-input m-input--air"  #shopType type="text">
                    <option value="Shopping Mall">Shopping Mall</option>
                    <option value="Grocery">Grocery</option>
                    <option value="Restaurant">Restaurant</option>
                    </select>
                </div>

                <div class="m-form__group form-group">
                        <!-- <label for="">
                            Inline Radios
                        </label> -->
                        <div class="m-radio-inline">
                            <label class="m-radio m-radio--solid m-radio--brand">
                                <input (change)="bookType='Sellable'" class="" name="bookType" type="radio" value="Bookable" >
                                Sellable
                                <span></span>
                            </label>
                            <label class="m-radio m-radio--solid m-radio--brand">
                                <input name="bookType" (change)="bookType='Rentable'" type="radio" value="Rentable" checked>
                                Rentable
                                <span></span>
                            </label>
                           
                        </div>
                     
                </div>


                <div class="d-flex align-items-center"  *ngIf="bookType=='Sellable'">
                        <div class="form-group m-form__group mr-auto custom-width-100">
                                <label class="m-subheader__title">
                                    Sold To (if Sold):
                                    </label>
                                    <ngx-select-dropdown #ownerDropdown [config]="config" [options]="owners" [(value)]="ownerDropdownModel"  >
                        
                                    </ngx-select-dropdown>
                        
                        </div>
                        <button class="btn btn-link"><i class="fa fa-plus"></i> Add</button>
                </div>


                <div class="d-flex align-items-center"  *ngIf="bookType=='Sellable'">
                    <div class="form-group m-form__group mr-auto custom-width-100">
                            <label class="m-subheader__title">
                                Rented To (if Rented):
                                </label>
                                <ngx-select-dropdown #ownerDropdown [config]="config" [options]="owners" [(value)]="ownerDropdownModel"  >
                    
                                </ngx-select-dropdown>
                    
                    </div>
                    <button class="btn btn-link"><i class="fa fa-plus"></i> Add</button>
            </div>

               

                <div class="d-flex align-items-center"  *ngIf="bookType=='Rentable'">
                        <div class="form-group m-form__group mr-auto custom-width-100">
                                <label class="m-subheader__title">
                                    Rented To (if Rented):
                                    </label>
                                    <ngx-select-dropdown #denantDropdown [config]="config" [options]="owners" [(value)]="tenantDropdownModel"  >
                        
                                    </ngx-select-dropdown>
                        
                        </div>
                        <button class="btn btn-link"><i class="fa fa-plus"></i> Add</button>
                </div>

                <!-- <div class="m-form__group form-group">
                    <label for="">
                        
                    </label>
                    <div class="m-radio-inline">
                        <label class="m-radio m-radio--brand">
                            <input (change)="visitType='Bookable'" class="" name="bookType" type="radio" value="Bookable" >
                            Bookable
                            <span></span>
                        </label>
                        <label class="m-radio m-radio--brand">
                            <input name="bookType" (change)="visitType='Walkin'" type="radio" value="Walkin" checked>
                            Walkin
                            <span></span>
                        </label>
                       
                    </div>
                 
                </div>

                <div class="m-form__group form-group" *ngIf="visitType=='Bookable'">
                    <label for="">Book Days</label>
                        <div class="m-checkbox-list">
                                <label class="m-checkbox m-checkbox--bold m-checkbox--state-brand">
                                    <input type="checkbox">
                                    Monday
                                    <span></span>
                                </label>
                                <label class="m-checkbox m-checkbox--bold m-checkbox--state-brand">
                                    <input  type="checkbox">
                                    Tuesday
                                    <span></span>
                                </label>
                                <label class="m-checkbox m-checkbox--bold m-checkbox--state-brand">
                                    <input checked="checked" type="checkbox">
                                    Wednesday
                                    <span></span>
                                </label>
                                <label class="m-checkbox m-checkbox--bold m-checkbox--state-brand">
                                    <input checked="checked" type="checkbox">
                                    Thursday
                                    <span></span>
                                </label>
                                <label class="m-checkbox m-checkbox--bold m-checkbox--state-brand">
                                    <input checked="checked" type="checkbox">
                                    Friday
                                    <span></span>
                                </label>

                                <label class="m-checkbox m-checkbox--bold m-checkbox--state-brand">
                                        <input checked="checked" type="checkbox">
                                        Saturday
                                        <span></span>
                                    </label>

                                    <label class="m-checkbox m-checkbox--bold m-checkbox--state-brand">
                                            <input checked="checked" type="checkbox">
                                            Sunday
                                            <span></span>
                                        </label>
                            </div>
                </div> -->

                


               


               

                

           
            </div>
            <div class="col-md-6">
                    <div class="form-group m-form__group">
                            <label >
                                 Area:
                            </label>
                            <input class="form-control m-input m-input--air" type="text" #shopArea />
                        </div>

                    <div class="form-group m-form__group">
                            <label >
                                Max Capacity:
                            </label>
                            <input  class="form-control form-control-md m-input m-input--air"
                                    placeholder="e.g. 4, 5 ,6"  type="number" #shopCapacity>
                        </div>

                   

                            

                        <div class="form-group m-form__group">
                            <label >
                                Description:
                            </label>
                            <textarea  class="form-control form-control-md m-input m-input--air" #shopDescription></textarea>
                        </div>
           
           
           </div>
        <div class="col-md-12">
            <button class="btn btn-info pull-right" type="button" (click)="addShop(shopName.value, default_imgUrl , shopType.value , shopArea.value, shopCapacity.value , shopDescription.value)">
                Add Room
            </button>
        </div>

        <!-- ---------------------------Add Inventory Form Start---------------------------------- -->

    </div>

</div>
