
<div class="m-subheader">
    <div  class="d-flex align-items-center">
        <div  class="mr-auto">
            <h3  class="m-subheader__title">
                Item Settings
            </h3>
        </div>
        <button class="btn btn-link">
            <i class="fa fa-plus" (click)="addInventoryForm = true"> Add Item</i>
        </button>
        <button class="btn btn-link" (click)="changeInventoryView()">
            <i class="fa" [ngClass]="{'fa-list': isInventoryGridView, 'fa-th' : !isInventoryGridView}"> {{InventoryViewName}} </i>
        </button>

    </div>
</div>
<div  class="m-subheader breadcrumb-header">
    <ul  class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li  class="m-nav__item m-nav__item--home">
            <a  class="m-nav__link m-nav__link--icon" routerLink="/dashboard" ng-reflect-href="/dashboard" ng-reflect-router-link="/dashboard" routerlink="/dashboard">
                <i  class="m-nav__link-icon la la-home"></i>
            </a>
        </li>
        <li  class="m-nav__separator">
            -
        </li>


        <li  class="m-nav__item">
            <a  class="m-nav__link" routerLink="/settings" ng-reflect-href="javascript:;" routerlink="/settings" ng-reflect-router-link="/settings">
                    <span  class="m-nav__link-text">
                        Settings
                    </span>
            </a>
        </li>
        <li  class="m-nav__separator">
            -
        </li>


        <li  class="m-nav__item">
            <a  class="m-nav__link" routerLink="/settings/amenities" ng-reflect-href="javascript:;" routerlink="/settings/buildings" ng-reflect-router-link="/settings/buildings">
                <span  class="m-nav__link-text">
                    Item
                </span>
            </a>
        </li>

    </ul>
</div>
<hr class="customhr">
<div class="m-content">
    <div class="m-form__section m-form__section--first">


        <!-- ---------------------------Inventory Cards Start---------------------------------- -->

        <div class="row" *ngIf="!addInventoryForm && isInventoryGridView">

            <div  class="col-sm-12 col-md-3 col-xl-3" *ngFor='let inventory of Inventories; let i = index;'>
                <div  class="body organ1">
                    <div  class="row" style="margin:0px;">
                        <div  class="card-left col-lg-3">
                            <!--<label  class="m-checkbox m-checkbox&#45;&#45;solid m-checkbox&#45;&#45;single m-checkbox&#45;&#45;brand">-->
                            <!--<input  class="chkboxes" type="checkbox">-->
                            <!--<span ></span>-->
                            <!--</label>-->
                            <div  class="row onepersonrow">
                                <div  class="col-md-12">
                                    <img  class="cardimage" [src]="inventory.img">
                                    <!--<p  class="cardname">{{amenity.name}}</p>-->
                                    <!--<p  class="cardtype">{{amenity.amenitytype}}</p>-->
                                    <!--<p  class="cardtype"> <i class='fa fa-building'></i> {{amenity.amenityfor}}</p>-->
                                </div>
                            </div>
                        </div>
                        <div  class="card-right col-lg-9" id="" style="background-color: rgb(255, 255, 255); padding: 10px; border-top-right-radius: 5px; border-bottom-right-radius: 5px;">
                            <h6  class="text-muted pull-left"><i  class="fa fa-cog"></i> Item Details</h6>
                            <i class="fa fa-trash pull-left" style="padding-left: 10px;" (click)="deleteInventory(i)"></i>
                            <label  class="m-checkbox m-checkbox--solid m-checkbox--single m-checkbox--brand pull-right checkbox-position">
                                <input  class="chkboxes" type="checkbox">
                                <span ></span>
                            </label>
                            <div  class="clearfix"></div>
                            <div  class="row">
                                <div class="col-sm-6">
                                    <p  class="cardname"><b>Name:</b> {{inventory.name}}</p>
                                    <!--<p  class="cardtype">{{amenity.amenitytype}}</p>-->
                                    <!--<p  class="cardtype"> <i class='fa fa-building'></i> {{amenity.amenityfor}}</p>-->
                                </div>
                                <div  class="col-sm-6">
                                    <p class="text-left"><strong>Category:</strong>  {{inventory.inventoryCat}}</p>
                                </div>
                                <div  class="col-sm-6">
                                    <p class="text-left"><strong>Sub-Cat:</strong>{{inventory.inventorySubCat}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- ---------------------------Inventories Cards End---------------------------------- -->

        <!-- ---------------------------Inventories List Start---------------------------------- -->
        <div *ngIf="!addInventoryForm && !isInventoryGridView">
            <div class="cold-md-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr style="background: #555;color: #fff" role="row"><th>
                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline f">
                                <input type="checkbox" class="group-checkable">
                                <span style="border-color: #fff !important;"></span>
                            </label>
                        </th>
                            <th > Item # </th>
                            <th> Item Name </th>
                            <th class="sorting" tabindex="0" aria-controls="InvoicesTable" rowspan="1" colspan="1" aria-label=" Invoice Type : activate to sort column ascending" style="width: 0px;"> Category </th>
                            <th class="sorting" tabindex="0" aria-controls="InvoicesTable" rowspan="1" colspan="1" aria-label=" Invoice Date : activate to sort column ascending" style="width: 0px;"> Sub Category </th>
                            <th class="sorting" tabindex="0" aria-controls="InvoicesTable" rowspan="1" colspan="1" aria-label=" Status: activate to sort column ascending" style="width: 0px;"> Brand/Supplier </th></tr>
                        </thead>
                        <tfoot>
                        </tfoot>
                        <tbody>
                        <tr role="row">
                            <td >
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input type="checkbox" class="chkboxes1">
                                    <span></span>
                                </label>
                            </td>
                            <td> 1 </td>
                            <td class="center">
                                Swimming Area
                            </td>
                            <td class="center"> Swimming Pool </td>
                            <td class="center"> Building </td>

                            <td><span class="label label-sm label-success"> PEL </span></td>
                        </tr><tr role="row" class="even">
                            <td class="sorting_1">
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input type="checkbox" class="chkboxes1-inv">
                                    <span></span>
                                </label>
                            </td>
                            <td> 2 </td>
                            <td class="center">
                                Parking
                            </td>
                            <td class="center"> Wooden </td>
                            <td class="center"> Double Bed </td>
                            <td><span class="label label-sm label-warning"> GREE </span></td>
                        </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
        <!-- ---------------------------Inventories List End---------------------------------- -->

        <!-- ----------------------------- Add Form Start------------------------------- -->
        <div class="row" *ngIf="addInventoryForm">
            <div class="col-md-6">
                <div class="form-group m-form__group">
                    <label for="inventory_name">
                        Item Name (optional):
                    </label>
                    <input  aria-describedby="inventory_name" id="inventory_name" class="form-control form-control-md m-input m-input--air"
                            placeholder="Item Name" #itemName type="text">
                </div>

                <div class="form-group m-form__group">
                    <label for="item_type">
                        Item Type:
                    </label>
                    <select class="form-control m-input m-input--air" type="text" #itemType id="item_type">
                        <option selected disabled> Choose Option </option>
                        <option value="appliances"> Inventory </option>
                        <option value="parking"> Stock </option>
                    </select>
                </div>

                <div class="d-flex align-items-center">
                    <div class="form-group m-form__group mr-auto custom-width-100">
                        <label class="m-subheader__title" for="item_cat">
                            Item Category:
                        </label>
                        <ngx-select-dropdown #itemCat id="item_cat" [config]="config" [options]="categories" [(value)]="dataModel" [multiple]="true" >

                        </ngx-select-dropdown>

                    </div>
                    <button class="btn btn-link m--margin-top-15" data-target="#addCategory" data-toggle="modal">
                        <i class="fa fa-plus"> Add Category </i>
                    </button>
                </div>



                <!--<div class="m-form__group form-group">-->
                    <!--<label for="">-->
                        <!--Entry Options-->
                    <!--</label>-->
                    <!--<div class="m-checkbox-inline">-->
                        <!--<label class="m-checkbox m-checkbox&#45;&#45;solid m-checkbox&#45;&#45;brand">-->
                            <!--<input type="checkbox">-->
                            <!--Walk In-->
                            <!--<span></span>-->
                        <!--</label>-->
                        <!--<label class="m-checkbox m-checkbox&#45;&#45;solid m-checkbox&#45;&#45;brand">-->
                            <!--<input type="checkbox">-->
                            <!--Bookable-->
                            <!--<span></span>-->
                        <!--</label>-->
                    <!--</div>-->
                    <!--<span class="m-form__help">-->
                       <!--<small> Enable/Disable for global access</small>-->
                    <!--</span>-->
                <!--</div>-->

            </div>
            <div class="col-md-6">

                <div class="d-flex align-items-center">
                    <div class="form-group m-form__group mr-auto custom-width-100">
                        <label for="item_subCat">
                            Item Sub Category
                        </label>
                        <ngx-select-dropdown #itemSubCat id="item_subCat" [config]="config" [options]="subCategories" [(value)]="dataModel2" [multiple]="true" >

                        </ngx-select-dropdown>
                    </div>
                    <button class="btn btn-link m--margin-top-15" data-target="#addSubCat" data-toggle="modal">
                        <i class="fa fa-plus" > Add Sub-Cat </i>
                    </button>
                </div>

                <div class="d-flex align-items-center">
                    <div class="form-group m-form__group mr-auto custom-width-100">
                        <label for="item_brand">
                            Item Brand
                        </label>
                        <!--<select class="form-control m-input m-input&#45;&#45;air" #inventoryBrand id="inventory_brand">-->
                            <!--<option selected disabled> Choose Option </option>-->
                            <!--<option value="pel"> Pel </option>-->
                            <!--<option value="samsung"> Samsung </option>-->
                            <!--<option value="orient"> Orient </option>-->
                        <!--</select>-->
                        <ngx-select-dropdown #brandDropdown id="item_brand" [config]="config" [options]="brands" [(value)]="dataModel3" >

                        </ngx-select-dropdown>
                    </div>
                    <button class="btn btn-link m--margin-top-15" data-target="#addBrand" data-toggle="modal">
                        <i class="fa fa-plus" > Add Brand/Supplier </i>
                    </button>
                </div>

                <div class="form-group m-form__group">
                    <label for="inventory_description">
                        Description:
                    </label>
                    <textarea class="form-control m-input m-input--air" id="inventory_description" #inventoryDesc rows="2"></textarea>
                </div>
            </div>
            <div class="col-md-12">
                <button class="btn btn-info pull-right" type="button" (click)="addItem(itemName.value, default_imgUrl , itemCat.value, itemSubCat.value, brandDropdown.value)">
                    Add Item
                </button>
            </div>
        </div>
        <!-- ---------------------------Add Inventory Form Start---------------------------------- -->

    </div>

</div>

<!-- MODAL Sub Category BEGINS -->
<div aria-labelledby="subCatLabel" class="modal fade show" id="addSubCat" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="subCatLabel">
                    New Sub Category
                </h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
						<span aria-hidden="true">
							×
						</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="form-control-label" for="brand-name">
                        Sub Category Name
                    </label>
                    <input class="form-control" #subCatName id="subcat-name" type="text">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">
                    Close
                </button>
                <button class="btn btn-primary" (click)="addSubCategory(subCatName.value); subCatName.value='';" type="button">
                    Add Sub Category
                </button>
            </div>
        </div>
    </div>
</div>
<!-- MODAL Sub Category ENDS -->

<!-- MODAL Category BEGINS -->
<div aria-labelledby="exampleModalLabel" class="modal fade show" id="addCategory" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    New Category
                </h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
						<span aria-hidden="true">
							×
						</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="form-control-label" for="category-name">
                        Category Name
                    </label>
                    <input class="form-control" #categoryName id="category-name" type="text">
                </div>
                <!--<div class="form-group">-->
                <!--<label class="form-control-label" for="message-text">-->
                <!--Message:-->
                <!--</label>-->
                <!--<textarea class="form-control" id="message-text"></textarea>-->
                <!--</div>-->
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">
                    Close
                </button>
                <button class="btn btn-primary" (click)="addCat(categoryName.value); categoryName.value='';" type="button">
                    Add Category
                </button>
            </div>
        </div>
    </div>
</div>
<!-- MODAL Category ENDS -->

<!-- MODAL Brand BEGINS -->
<div aria-labelledby="brandLabel" class="modal fade show" id="addBrand" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="b4randLabel">
                    New Brand
                </h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
						<span aria-hidden="true">
							×
						</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="form-control-label" for="brand-name">
                        Brand Name
                    </label>
                    <input class="form-control" #brandName id="brand-name" type="text">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">
                    Close
                </button>
                <button class="btn btn-primary" (click)="addBrand(brandName.value); brandName.value='';" type="button">
                    Add Brand
                </button>
            </div>
        </div>
    </div>
</div>
<!-- MODAL Brand ENDS -->

