<div *ngIf="isPaymentOpen" class="m-portlet m-portlet--full-height " style="width: 312px;height: 450px;position: fixed;bottom: 50px;margin-left: 24px; z-index:2;">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Payment
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="nav nav-pills nav-pills--brand m-nav-pills--align-right m-nav-pills--btn-pill m-nav-pills--btn-sm" role="tablist">
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_widget4_tab1_content" role="tab">
                            Methods
                        </a>
                </li>
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_widget4_tab2_content" role="tab">
                            New
                        </a>
                </li>
                <li>
                    <a (click)="isPaymentOpen= false;" style="margin-left:0px;display: inline-block;margin-right: -20px;"><i class="fa fa-times"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="m-portlet__body" style="padding: 10px;">
        <div class="tab-content">
            <div class="tab-pane active" id="m_widget4_tab1_content">

                <!--begin::Widget 14-->
                <div class="m-widget4">


                    <!--begin::Widget 14 Item-->
                    <div class="m-widget4__item">
                        <div class="m-widget4__img m-widget4__img--pic">
                            <img src="assets/app/media/img/logos/visa.png" alt="">
                        </div>
                        <div class="m-widget4__info">
                            <span class="m-widget4__title">
                                    Visa Card
                                </span>
                            <br>
                            <span class="m-widget4__sub">
                                    Niaz Visa Card
                                </span>
                        </div>
                        <div class="m-widget4__ext">
                            <a href="#" class="m-btn m-btn--pill m-btn--hover-brand btn btn-sm btn-secondary">Select</a>
                        </div>
                    </div>

                    <!--end::Widget 14 Item-->

                    <!--begin::Widget 14 Item-->
                    <div class="m-widget4__item">
                        <div class="m-widget4__img m-widget4__img--pic">
                            <img src="assets/app/media/img/logos/mastercard.png" alt="">
                        </div>
                        <div class="m-widget4__info">
                            <span class="m-widget4__title">
                                    Master Card
                                </span>
                            <br>
                            <span class="m-widget4__sub">
                                    Niaz Master Card
                                </span>
                        </div>
                        <div class="m-widget4__ext">
                            <a href="#" class="m-btn m-btn--pill m-btn--hover-brand btn btn-sm btn-secondary">Select</a>
                        </div>
                    </div>

                    <!--end::Widget 14 Item-->


                    <div class="m-widget4__item">
                        <div class="m-widget4__img m-widget4__img--pic">
                            <img src="assets/app/media/img/logos/Paypal.jpg" alt="">
                        </div>
                        <div class="m-widget4__info">
                            <span class="m-widget4__title">
                                        Paypal
                                    </span>
                            <br>
                            <span class="m-widget4__sub">
                                        Niaz Paypal
                                    </span>
                        </div>
                        <div class="m-widget4__ext">
                            <a href="#" class="m-btn m-btn--pill m-btn--hover-brand btn btn-sm btn-secondary">Select</a>
                        </div>
                    </div>

                    <!--end::Widget 14 Item-->



                    <div class="m-widget4__item">
                        <div class="m-widget4__img m-widget4__img--pic">
                            <img src="assets/app/media/img/logos/voucher.png" alt="">
                        </div>
                        <div class="m-widget4__info">
                            <span class="m-widget4__title">
                                        Voucher
                                    </span>
                            <br>
                            <span class="m-widget4__sub">
                                        Niaz Voucher
                                    </span>
                        </div>
                        <div class="m-widget4__ext">
                            <a href="#" class="m-btn m-btn--pill m-btn--hover-brand btn btn-sm btn-secondary">Select</a>
                        </div>
                    </div>

                    <!--end::Widget 14 Item-->


                </div>

                <!--end::Widget 14-->
            </div>
            <div class="tab-pane" id="m_widget4_tab2_content">
                <div class="form-group">
                    <label class="form-control-label">
                                    Card Type:
                                </label>
                    <select class="form-control">
                                        <option>VISA CARD</option>
                                        <option>MASTER CARD</option>
                                        <option>AMERICAN EXPRESS</option>
                                        <option>VOUCHER</option>
                                        <option>PAYPAL</option>
                                </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label">
                                        Card Number:
                                    </label>
                    <input type="number" placeholder="Card Number" class="form-control">
                </div>

                <div class="form-group">
                    <label class="form-control-label">
                                        Expiry Date:
                                    </label>
                    <input type="date" placeholder="Card Number" class="form-control">
                </div>

                <div class="form-group">
                    <label class="form-control-label">
                                        CVV:
                                    </label>
                    <input type="number" placeholder="CVV" class="form-control">
                </div>

                <button class="btn btn-default btn-block">Submit</button>


            </div>
        </div>
    </div>
</div>


<div class="row" style="height:90px; background-color:white; position:fixed; bottom:0; width:100%; z-index: 1; -webkit-box-shadow: 1px 2px 21px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 2px 21px -2px rgba(0,0,0,0.75);
box-shadow: 1px 2px 21px -2px rgba(0,0,0,0.75);margin-left: 0px;">

    <div class="col-sm-2">
        <button class="btn btn-dark" (click)="isPaymentOpen=!isPaymentOpen" style="margin-top: 25px;border-radius: 23px;padding: 10px 25px;">Payment</button>
    </div>

    <div class="col-sm-2">
        <button class="btn btn-dark" style="margin-top: 25px;border-radius: 23px;padding: 10px 25px;" data-toggle="modal" data-target="#checkoutModal">Checkout <i _ngcontent-c5="" class="fa fa-fw fa-shopping-cart"></i> (3)</button>
    </div>

    <div class="col-sm-2  offset-sm-1">
        <a class="btn btn-dark" routerLink="../checkout-cart" style="margin-top: 25px;border-radius: 23px;padding: 10px 25px;">Checkout 2</a>
    </div>

    <div class="col-sm-2  offset-sm-1">
        <button class="btn btn-dark" style="margin-top: 25px;" [disabled]="!compare">Compare</button>
    </div>

</div>


<div class="modal fade" tabindex="-1" id="checkoutModal" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Checkout</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
            </div>
            <div class="modal-body">
                <div class="m-widget11">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Resource</th>
                                <th>Duration</th>
                                <th>Price</th>
                                <th>Tax</th>
                                <th>Booking</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <label class="m-checkbox m-checkbox--solid m-checkbox--single m-checkbox--brand">
                                                            <input type="checkbox">
                                                            <span></span>
                                                        </label>
                                    <span class="m-widget11__title">Vertex 2.0</span>
                                    <span class="m-widget11__sub">Vertex To By Again</span>
                                </td>
                                <td>Sookie Stackhouse</td>
                                <td>60 Min</td>
                                <td>CAD $12.90</td>
                                <td>Provisional<br>Federal</td>
                                <td><a href="" class="btn green submit" data-type="resource">Book now</a></td>
                                <td><button class="btn btn-link"><i class="icon fa fa-trash"></i></button></td>
                            </tr>
                            <tr>
                                <td><span class="m-widget11__title">Mirror Mirror Beauty Saloon</span> Elemis White Brightening Facial <br>
                                    <a href="">View Agreement</a>
                                    <div class="md-checkbox">
                                        <input type="checkbox" id="agree2" class="md-check">
                                        <label for="agree2">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>I agree to their terms of agreement.
                                                    </label>
                                    </div>
                                </td>
                                <td>Sookie Stackhouse</td>
                                <td>60 Min</td>
                                <td>CAD $15.90</td>
                                <td>Federal</td>
                                <td><a href="" class="btn green submit" data-type="resource">Book now</a></td>
                                <td><button class="btn btn-link"><i class="icon fa fa-trash"></i></button></td>
                            </tr>
                            <tr>
                                <td><span class="m-widget11__title">Mirror Mirror Beauty Saloon</span> Elemis White Brightening Facial <br>
                                    <a href="">View Agreement</a>
                                    <div class="md-checkbox">
                                        <input type="checkbox" id="agree3" class="md-check">
                                        <label for="agree3">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>I agree to their terms of agreement.
                                                    </label>
                                    </div>
                                </td>
                                <td class="show_info" id="demores">Not Selected</td>
                                <td>60 Min</td>
                                <td>USD $11.90</td>
                                <td>No Tax</td>
                                <td><a href="" class="btn green submit">Book now</a></td>
                                <td><button class="btn btn-link"><i class="icon fa fa-trash"></i></button></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="text-align: center;color: #e48895;font-weight: 600">CAD $500</td>
                                <td></td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info">Order Now<i class="fa fa-fw fa-shopping-cart"></i></button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>

</div>