.m-widget11 .table tbody > tr > td , tbody > tr > td a
{
    font-size:12px;
}
.m-widget11 .table tbody > tr .m-widget11__title
{
    font-size: 1rem;
}

.m-widget4 .m-widget4__item .m-widget4__img.m-widget4__img--pic img {
    width: 2.5rem;
    border-radius: 0px;
}