<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-form__heading-title">
                ABC Condo - Ground Floor
            </h3>
        </div>
        <button class="btn btn-link">
            <i class="fa fa-plus" (click)="addRoomForm = true"> Add Inventory</i>
        </button>

        <button class="btn btn-link" (click)="changeRoomView()">
            <i class="fa" [ngClass]="{'fa-list': isRoomGridView, 'fa-th' : !isRoomGridView}"></i>
            {{RoomViewName}}
        </button>

    </div>
</div>

<div class="m-subheader breadcrumb-header">
        <ul  class="m-subheader__breadcrumbs m-nav m-nav--inline">
            <li  class="m-nav__item m-nav__item--home">
                <a  class="m-nav__link m-nav__link--icon" ng-reflect-href="#" routerlink="/dashboard" ng-reflect-router-link="/dashboard" href="/dashboard">
                    <i  class="m-nav__link-icon la la-home"></i>
                </a>
            </li>
            <li  class="m-nav__separator">
                -
            </li>
           
           
            <li  class="m-nav__item">
                <a  routerLink="/settings" class="m-nav__link" href="javascript:;" ng-reflect-href="javascript:;">
                    <span  class="m-nav__link-text">
                        Settings
                    </span>
                </a>
            </li>
            <li  class="m-nav__separator">
                    -
                </li>
               
               
                <li  class="m-nav__item">
                    <a  routerLink="/settings/buildings" class="m-nav__link" href="javascript:;" ng-reflect-href="javascript:;">
                        <span  class="m-nav__link-text">
                            Buildings     
                        </span>
                    </a>
                </li>
                <li  class="m-nav__separator">
                        -
                    </li>
                   
                   
                    <li  class="m-nav__item">
                        <a  class="m-nav__link" href="javascript:;" ng-reflect-href="javascript:;">
                            <span  class="m-nav__link-text">
                                Condos     
                            </span>
                        </a>
                    </li>
                    <li  class="m-nav__separator">
                        -
                    </li>
                   
                   
                    <li  class="m-nav__item">
                        <a  class="m-nav__link" href="javascript:;" ng-reflect-href="javascript:;">
                            <span  class="m-nav__link-text">
                                Inventory     
                            </span>
                        </a>
                    </li>
        </ul>
    </div>
    <hr  class="customhr">
<div class="m-content">
<div class="row" *ngIf="!addRoomForm && isRoomGridView">
    <div class="col-md-4">
        <div class="body organ1">
            <div class="row" style="margin:0px;">
                <div class="card-left col-lg-3" id="">
                    <label class="m-checkbox m-checkbox--solid m-checkbox--single m-checkbox--brand">
                        <input class="chkboxes" type="checkbox">
                        <span></span>
                    </label>
                    <div class="row onepersonrow">

                        <div class="col-md-12">
                            <img class="personimage" src="assets/app/media/img/inventory/refridgerator.jpg">
                            <p class="personname">My Refrigerator</p>
                            <p class="persontype">Electronics</p>
                            <p class="persontype">Refridgerator</p>
                        </div>
                    </div>
                    <!-- <p  class="personappartmentno"><i  class="fa fa-bed"></i> 20-B</p>
                        <p  class="personbuildingname"><i  class="fa fa-building"></i> Burj Canada</p>
                        <p  class="personaddress"><i  class="fa fa-map-marker"></i> 1620 Orr Rd, Mississauga, ON L5J 4T2, Canada</p> -->


                </div>
                <div class="card-right col-lg-9" id="" style="background-color: rgb(255, 255, 255); padding: 10px; border-top-right-radius: 5px; border-bottom-right-radius: 5px;">
                    <h6 class="text-muted pull-left">
                        <i class="fa fa-cog"></i> Inventory Details</h6>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-sm-6">
                            <p>
                                Price: 1000
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <p>
                                Brand: Haier
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <p>
                                Count: 3
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <p>
                                Placement: Kitchen
                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>



    <div class="col-md-4">
        <div class="body organ1">
            <div class="row" style="margin:0px;">
                <div class="card-left col-lg-3" id="">
                    <label class="m-checkbox m-checkbox--solid m-checkbox--single m-checkbox--brand">
                        <input class="chkboxes" type="checkbox">
                        <span></span>
                    </label>
                    <div class="row onepersonrow">

                        <div class="col-md-12">
                            <img class="personimage" src="assets/app/media/img/inventory/bed.jpg">
                            <p class="personname">My Bed</p>
                            <p class="persontype">Furniture</p>
                            <p class="persontype">Bed</p>
                        </div>
                    </div>
                    <!-- <p  class="personappartmentno"><i  class="fa fa-bed"></i> 20-B</p>
                        <p  class="personbuildingname"><i  class="fa fa-building"></i> Burj Canada</p>
                        <p  class="personaddress"><i  class="fa fa-map-marker"></i> 1620 Orr Rd, Mississauga, ON L5J 4T2, Canada</p> -->


                </div>
                <div class="card-right col-lg-9" id="" style="background-color: rgb(255, 255, 255); padding: 10px; border-top-right-radius: 5px; border-bottom-right-radius: 5px;">
                    <h6 class="text-muted pull-left">
                        <i class="fa fa-cog"></i> Inventory Details</h6>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-sm-6">
                            <p>
                                Price: 2000
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <p>
                                Brand: Woodies
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <p>
                                Count: 1
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <p>
                                Placement: Room
                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



<!-- ---------------------------Room List Start---------------------------------- -->
<div class="row" *ngIf="!addRoomForm && !isRoomGridView">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr style="background: #555;color: #fff" role="row">
                        <th>
                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline f">
                                <input type="checkbox" class="group-checkable">
                                <span style="border-color: #fff !important;"></span>
                            </label>
                        </th>
                        <th> Item # </th>
                        <th class="sorting" tabindex="0" aria-controls="InvoicesTable" rowspan="1" colspan="1" aria-label=" Invoice Type : activate to sort column ascending"
                            style="width: 0px;"> Name </th>
                        <th class="sorting" tabindex="0" aria-controls="InvoicesTable" rowspan="1" colspan="1" aria-label=" Invoice Type : activate to sort column ascending"
                            style="width: 0px;"> Category </th>
                            <th class="sorting" tabindex="0" aria-controls="InvoicesTable" rowspan="1" colspan="1" aria-label=" Invoice Type : activate to sort column ascending"
                            style="width: 0px;"> Sub-Category </th>
                        <th class="sorting" tabindex="0" aria-controls="InvoicesTable" rowspan="1" colspan="1" aria-label=" Invoice Date : activate to sort column ascending"
                            style="width: 0px;"> Price </th>
                        <th class="sorting" tabindex="0" aria-controls="InvoicesTable" rowspan="1" colspan="1" aria-label=" Due Date : activate to sort column ascending"
                            style="width: 0px;"> Brand </th>
                            <th class="sorting" tabindex="0" aria-controls="InvoicesTable" rowspan="1" colspan="1" aria-label=" Due Date : activate to sort column ascending"
                            style="width: 0px;"> Number </th>
                </thead>
                <tfoot>
                </tfoot>
                <tbody>
                    <tr role="row">
                        <td>
                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                <input type="checkbox" class="chkboxes1">
                                <span></span>
                            </label>
                        </td>
                        <td> 1</td>
                        <td> My Refridgerator</td>
                        <td> Electronics</td>
                        <td> Refridgerator</td>
                        <td class="center">
                            1000
                        </td>
                        <td class="center">
                            Haier
                        </td>
                        <td class="center"> 
                            3
                        </td>

                    </tr>
                    <tr role="row">
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input type="checkbox" class="chkboxes1">
                                    <span></span>
                                </label>
                            </td>
                            <td> 2</td>
                            <td> My Bed</td>
                            <td> Furniture</td>
                            <td> Bed</td>
                            <td class="center">
                                2000
                            </td>
                            <td class="center">
                                Woodies
                            </td>
                            <td class="center"> 
                                1
                            </td>
    
                        </tr>

                </tbody>

            </table>
        </div>
    </div>
</div>
<!-- ---------------------------Room List End---------------------------------- -->

<!-- ----------------------------- Add Room Form Start------------------------------- -->
<div class="row" *ngIf="addRoomForm">
  
    <div class="col-sm-12">
    <h5><button class="btn btn-link" (click)="addNewRoomRow()"><i class="fa fa-plus"></i></button> Add Inventory  </h5>
    
    </div>
    
    <div class="col-sm-12" *ngFor="let row of rows; let i = index;">
            <div class="form-group m-form__group row">
                <!-- <div class="col-sm-2">
                      <label>Name:</label>
                      <input type="text" class="form-control">
                </div> -->

                <div class="col-sm-2">
                        <label>Category:</label>
                        <input type="text" class="form-control">
                  </div>

                  <div class="col-sm-2">
                    <label>Sub-Category:</label>
                    <input type="text" class="form-control">
              </div>

              <div class="col-sm-2">
                <label>Brand:</label>
                <input type="text" class="form-control">
           </div>

                  <div class="col-sm-2">
                        <label>Price:</label>
                        <input type="number" class="form-control">
                  </div>

               

                  <div class="col-sm-1">
                        <label>Number:</label>
                        <input type="number" class="form-control">
                  </div>
                 
                  <div class="col-sm-1">
                        <button class="btn btn-link" style="margin-top: 26px;" [disabled]="i==0 && rows.length==1" (click)="onDeleteRow(i)"><i class="fa fa-minus"></i></button>
                   </div>

            </div>
    </div>

    <div class="col-md-12">
      
        <button class="btn btn-primary">Add Inventory</button>

    </div>
</div>
<!-- ---------------------------Add Room Form End---------------------------------- -->
</div>