
<div class="m-content">
  
    <!-- <a href="#" (click)='onAnimate()' class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
        <i class="la la-angle-down"></i>
    </a> -->
    <div class="row" style="height: 100%;">
            <div class="verticals" id="vertical_1">
                <div class="innerCards stackEffect active_card" id="card1">
                    <h6 class="innerCardsTitle m-menu__link-text">My Settings</h6>
                </div>
            </div>

            <div class="verticals" id="vertical_2">
                 <!-- <div class="innerCards stackEffect" [ngClass]="className === 'account' ? 'active_card': 'non_active_card'" id="card2">
                    <h6 class="innerCardsTitle m-menu__link-text">Account Settings</h6>
                 
                    <i class="fa fa-expand text-muted pull-right c-expand-icon" (click)="expandCard('account'); visibleSidebar5 = true" ></i>
                </div>  -->
                <div class="innerCards stackEffect" [ngClass]="className === 'account' ? 'active_card': 'non_active_card'" id="card2">
                        <h6 class="innerCardsTitle m-menu__link-text">Account Settings</h6>
                     
                        <a routerLink="accounts"><i class="fa fa-expand text-muted pull-right c-expand-icon" ></i></a>
                    </div> 

                <!-- <div class="innerCards stackEffect" id="card3" [ngClass]="className === 'security' ? 'active_card': 'non_active_card'">
                    <h6 class="innerCardsTitle m-menu__link-text">Security Settings</h6>
                    <i class="fa fa-expand text-muted pull-right c-expand-icon" (click)="expandCard('security'); visibleSidebar5 = true" ></i>
                </div> -->

                <!-- <div class="innerCards stackEffect" id="card4" [ngClass]="className === 'system_wide' ? 'active_card': 'non_active_card'">
                    <h6 class="innerCardsTitle m-menu__link-text">System Wide Settings</h6>
                    <i class="fa fa-expand text-muted pull-right c-expand-icon" (click)="expandCard('system_wide'); visibleSidebar5 = true" ></i>
                </div> -->

                <div class="innerCards stackEffect" id="card5" [ngClass]="className === 'amenities_global' ? 'active_card': 'non_active_card'">
                    <h6 class="innerCardsTitle m-menu__link-text">Amenities Global Settings</h6>
                    <!-- <i class="fa fa-expand text-muted pull-right c-expand-icon" (click)="expandCard('amenities_global'); visibleSidebar5 = true" ></i> -->
                    <a routerLink="amenities"> <i class="fa fa-expand text-muted pull-right c-expand-icon"  ></i></a>
                </div>

            

                <div class="innerCards stackEffect" id="card6" [ngClass]="className === 'billing-services_global' ? 'active_card': 'non_active_card'">
                    <h6 class="innerCardsTitle m-menu__link-text">Billing/Services Global Settings</h6>
                    <!-- <i class="fa fa-expand text-muted pull-right c-expand-icon" (click)="expandCard('billing-services_global'); visibleSidebar5 = true" ></i> -->
                    <a routerLink="services-global"> <i class="fa fa-expand text-muted pull-right c-expand-icon"  ></i> </a>
                </div>

                <div class="innerCards stackEffect" id="card7"
                     [ngClass]="(className === 'building' || className == 'floor' || className == 'apartment' || className == 'amenities') ? 'active_card': 'non_active_card'">
                    <h6 class="innerCardsTitle m-menu__link-text">Building Settings</h6>
                   <a routerLink="buildings"> <i class="fa fa-expand text-muted pull-right c-expand-icon"  ></i> </a>
                    <!--<button class="fa fa-expand text-muted pull-right c-expand-icon" pButton type="button" (click)="visibleSidebar5 = true" icon="pi pi-th-large"></button>-->
                </div>

                <div class="innerCards stackEffect" id="card8" [ngClass]="className === 'common-services_global' ? 'active_card': 'non_active_card'">
                        <h6 class="innerCardsTitle m-menu__link-text">Common Services Global Settings</h6>
                        <!-- <a routerLink="common-services-global"><i class="fa fa-expand text-muted pull-right c-expand-icon" (click)="expandCard('common-services_global'); visibleSidebar5 = true" ></i></a> -->
                        <a routerLink="common-services-global"><i class="fa fa-expand text-muted pull-right c-expand-icon"  ></i></a>
                </div>
            </div>

            <div class="verticals" id="vertical_3" *ngIf="(className == 'building' || className == 'floor' || className == 'apartment' || className == 'amenities')">
                <div class="innerCards stackEffect" id="card11">
                    <h6 class="innerCardsTitle m-menu__link-text">Floor Settings</h6>
                    <i class="fa fa-expand text-muted pull-right c-expand-icon" (click)="expandCard('floor'); visibleSidebar5 = true" ></i>
                    <!--<button class="fa fa-expand text-muted pull-right c-expand-icon" pButton type="button" (click)="visibleSidebar5 = true" icon="pi pi-th-large"></button>-->
                </div>
                <div class="innerCards stackEffect" id="card12">
                    <h6 class="innerCardsTitle m-menu__link-text">Apartment Settings</h6>
                    <i class="fa fa-expand text-muted pull-right c-expand-icon" (click)="expandCard('apartment'); visibleSidebar5 = true" ></i>
                    <!--<button class="fa fa-expand text-muted pull-right c-expand-icon" pButton type="button" (click)="visibleSidebar5 = true" icon="pi pi-th-large"></button>-->
                </div>

                <div class="innerCards stackEffect" id="card13">
                    <h6 class="innerCardsTitle m-menu__link-text">Amenities Settings</h6>
                    <i class="fa fa-expand text-muted pull-right c-expand-icon" (click)="expandCard('amenities'); visibleSidebar5 = true" ></i>
                    <!--<button class="fa fa-expand text-muted pull-right c-expand-icon" pButton type="button" (click)="visibleSidebar5 = true" icon="pi pi-th-large"></button>-->
                </div>

            </div>
            <div class="verticals" id="vertical_4" *ngIf="(className == 'building' || className == 'floor' || className == 'apartment' || className == 'amenities')">

            </div>

    </div>
</div>

<p-sidebar [(visible)]="visibleSidebar5" [fullScreen]="true" [baseZIndex]="10000">

        <!-- -----------------------Account Settings Start---------------------------------------------------- -->
        <!-- <div class="account-settings" *ngIf="className == 'account'">
            <h1 style="font-weight:normal">Account Settings</h1>
           
        </div> -->
        <!-- --------------------------------------Account Settings End -------------------------------------- -->

        <!-- -------------------------------------Security Settings Start------------------------------------- -->
        <div class="security-settings" *ngIf="className == 'security'">
            <h3 class="m-subheader__title" style="font-weight:normal">Security Settings</h3>
            <div class="security-settings">
                <div class="row">
                    <div class="col-md-12">
                        Security Settings
                    </div>
                </div>
            </div>
        </div>
        <!-- -------------------------------------Security Settings End------------------------------------- -->

        <!-- ----------------------------------------System Wide Settings Start---------------------------------------- -->
        <div class="system_wide-settings" *ngIf="className == 'system_wide'">
            <h3 class="m-subheader__title" style="font-weight:normal">System Wide Settings</h3>
            <div class="row">
                <div class="col-md-12 offset-md-2">
                    <div class="row">
                        <div class="col-md-12">
                            <h2> Building </h2>
                        </div>
                        <div class="col-md-12">
                            <div class="m-list-badge m--margin-top-15">
                                <div class="m-list-badge__label m--font-success">
                                    14:00
                                </div>
                                <div class="m-list-badge__items">
                                    <a href="#" class="m-list-badge__item">
                                        Yoga
                                    </a>
                                    <a href="#" class="m-list-badge__item">
                                        Cooking
                                    </a>
                                    <a href="#" class="m-list-badge__item">
                                        Dance
                                    </a>
                                    <a href="#" class="m-list-badge__item">
                                        Gym
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h2> Option 2 </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ----------------------------------------System Wide Settings End---------------------------------------- -->


        <!-- ----------------------------------------Amenities Global Start---------------------------------------- -->
        <!-- <div class="amenities_global-settings" *ngIf="className == 'amenities_global'">
            <h3 class="m-subheader__title" style="font-weight:normal">Amenities Settings</h3>
            <div class="row">
                <div class="col-md-12">
                    <app-amenities-global-settings></app-amenities-global-settings>
                </div>
            </div>
        </div> -->
        <!-- ----------------------------------------Amenities Global End---------------------------------------- -->

        <!-- ----------------------------------------Billing/Services Global Start---------------------------------------- -->
        <!-- <div class="billing-services-settings" *ngIf="className == 'billing-services_global'">
            <h3 class="m-subheader__title" style="font-weight:normal">Billing/Services Settings</h3>
            <div class="row">
                <div class="col-md-12">
                    <app-billing-services-global-settings></app-billing-services-global-settings>
                </div>
            </div>
        </div> -->
        <!-- ----------------------------------------Amenities Global End---------------------------------------- -->


       
        <!-- ----------------------------------------Amenities Start---------------------------------------- -->
        <!-- <div class="building-settings" *ngIf="className == 'amenities'">
            <h2 style="font-weight:normal">Amenities Local Settings</h2>
            <div class="row">
                <div class="col-md-12">
                    Amenities Setup
                </div>
            </div>
        </div> -->
        <!-- ----------------------------------------Amenities End---------------------------------------- -->

        <!-- <div class="commom-services" *ngIf="className == 'common-services_global'">
                <h2 style="font-weight:normal">Common Services Settings</h2>
                <div class="row">
                    <div class="col-md-12">
                     <app-common-services-global-settings></app-common-services-global-settings>
                    </div>
                </div>
            </div> -->

        <!--<button pButton type="button" (click)="visibleSidebar5 = false" label="Save" class="ui-button-success"></button>-->
        <!--<button pButton type="button" (click)="visibleSidebar5 = false" label="Cancel" class="ui-button-secondary"></button>-->
</p-sidebar>
