

    <div class="m-form__section m-form__section--first">
        <div class="m-form__heading">
            <div class="d-flex align-items-center">
                <div class="mr-auto">
                    <!--<h3 class="m-form__heading-title">-->
                        <!--Amenities-->
                    <!--</h3>-->
                </div>
                <button class="btn btn-link">
                    <i class="fa fa-plus" (click)="addAmenityForm = true"> Add Amenities</i>
                </button>
                <button class="btn btn-link" (click)="changeAmenityView()">
                    <i class="fa" [ngClass]="{'fa-list': isAmenityGridView, 'fa-th' : !isAmenityGridView}"> {{AmenityViewName}} </i>
                </button>
            </div>
        </div>

        <!-- ---------------------------Amenities Cards Start---------------------------------- -->

        <div class="row" *ngIf="!addAmenityForm && isAmenityGridView">

            <div  class="col-sm-12 col-md-3 col-xl-3" *ngFor='let amenity of Amenities'>
                <div  class="body organ1">
                    <div  class="row" style="margin:0px;">
                        <div  class="card-left col-lg-3">
                            <label  class="m-checkbox m-checkbox--solid m-checkbox--single m-checkbox--brand">
                                <input  class="chkboxes" type="checkbox">
                                <span ></span>
                            </label>
                            <div  class="row onepersonrow">
                                <div  class="col-md-12">
                                    <img  class="cardimage" [src]="amenity.img">
                                    <!--<p  class="cardname">{{amenity.name}}</p>-->
                                    <!--<p  class="cardtype">{{amenity.amenitytype}}</p>-->
                                    <!--<p  class="cardtype"> <i class='fa fa-building'></i> {{amenity.amenityfor}}</p>-->
                                </div>
                            </div>
                        </div>
                        <div  class="card-right col-lg-9" id="" style="background-color: rgb(255, 255, 255); padding: 10px; border-top-right-radius: 5px; border-bottom-right-radius: 5px;">
                            <h6  class="text-muted pull-left"><i  class="fa fa-cog"></i> Amenity Details</h6>
                            <div  class="clearfix"></div>
                            <div  class="row">
                                <div class="col-sm-6">
                                    <p  class="cardname"><b>Name:</b> {{amenity.name}}</p>
                                    <!--<p  class="cardtype">{{amenity.amenitytype}}</p>-->
                                    <!--<p  class="cardtype"> <i class='fa fa-building'></i> {{amenity.amenityfor}}</p>-->
                                </div>
                                <div  class="col-sm-6">
                                    <p class="text-left"><strong>Type:</strong>  {{amenity.amenitytype}}</p>
                                </div>
                                <div  class="col-sm-6">
                                    <p class="text-left"><strong>For:</strong> <i class='fa fa-building'></i> {{amenity.amenityfor}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- ---------------------------Amenities Cards End---------------------------------- -->

        <!-- ---------------------------Amenities List Start---------------------------------- -->
        <div *ngIf="!addAmenityForm && !isAmenityGridView">
            <div class="cold-md-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr style="background: #555;color: #fff" role="row"><th>
                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline f">
                                <input type="checkbox" class="group-checkable">
                                <span style="border-color: #fff !important;"></span>
                            </label>
                        </th>
                            <th > Amenity # </th>
                            <th> Amenity Name </th>
                            <th class="sorting" tabindex="0" aria-controls="InvoicesTable" rowspan="1" colspan="1" aria-label=" Invoice Type : activate to sort column ascending" style="width: 0px;"> Amenity Type </th>
                            <th class="sorting" tabindex="0" aria-controls="InvoicesTable" rowspan="1" colspan="1" aria-label=" Invoice Date : activate to sort column ascending" style="width: 0px;"> Amenity For </th>
                            <th class="sorting" tabindex="0" aria-controls="InvoicesTable" rowspan="1" colspan="1" aria-label=" Status: activate to sort column ascending" style="width: 0px;"> Status</th></tr>
                        </thead>
                        <tfoot>
                        </tfoot>
                        <tbody>
                        <tr role="row">
                            <td >
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input type="checkbox" class="chkboxes1">
                                    <span></span>
                                </label>
                            </td>
                            <td> 1 </td>
                            <td class="center">
                                Swimming Area
                            </td>
                            <td class="center"> Swimming Pool </td>
                            <td class="center"> Building </td>

                            <td><span class="label label-sm label-success"> In-Active </span></td>
                        </tr><tr role="row" class="even">
                            <td class="sorting_1">
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input type="checkbox" class="chkboxes1-inv">
                                    <span></span>
                                </label>
                            </td>
                            <td> 2 </td>
                            <td class="center">
                                Parking
                            </td>
                            <td class="center"> Parking Lot </td>
                            <td class="center"> Building </td>
                            <td><span class="label label-sm label-warning"> Active </span></td>
                        </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
        <!-- ---------------------------Amenities List End---------------------------------- -->

        <!-- ----------------------------- Add Form Start------------------------------- -->
        <div class="row" *ngIf="addAmenityForm">
            <div class="col-md-6">
                <div class="form-group m-form__group">
                    <label for="amenity_name">
                        Amenity Name (optional):
                    </label>
                    <input  aria-describedby="amenity_name" id="amenity_name" class="form-control form-control-md m-input m-input--air"
                            placeholder="Amenity Name" type="text">
                </div>
                <div class="form-group m-form__group">
                    <label for="amenity_type">
                        Amenity Type:
                    </label>
                    <select class="form-control m-input m-input--air" type="text" id="amenity_type">
                        <option> </option>
                        <option> Pool </option>
                        <option> Parking </option>
                        <option> Gym </option>
                        <option> Rooftop Terrace </option>
                        <option> Party Room </option>
                        <option> Games Room </option>
                        <option> Library </option>
                        <option> Basketball or Squash Court </option>
                        <option> Bowling </option>
                        <option> Virtual Golf &amp; Batting Cages</option>
                        <option> Movie Theatre </option>
                        <option> Lounge </option>
                        <option> Guest Suites </option>
                        <option> Business Center </option>
                    </select>
                </div>

                <div class="m-form__group form-group">
                    <label for="">
                        Entry Option
                    </label>
                    <div class="m-radio-inline">
                        <label class="m-radio m-radio--solid m-radio--brand">
                            <input name="example_3" type="radio" (change)="isWalkIn = true" value="walkin" checked>
                            Walk In
                            <span></span>
                        </label>
                        <label class="m-radio m-radio--solid m-radio--brand">
                            <input name="example_3" type="radio" (change)="isWalkIn = false" value="bookable">
                            Bookable
                            <span></span>
                        </label>
                    </div>
                    <br/>
                    <div *ngIf="isWalkIn">
                        Walk In
                    </div>
                    <div *ngIf="!isWalkIn">
                        Bookable
                    </div>
                    <br/>
                </div>

            </div>
            <div class="col-md-6">
                <div class="form-group m-form__group">
                    <label for="amenity_for">
                        Amenity For
                    </label>
                    <select class="form-control m-input m-input--air" id="amenity_for">
                        <option> </option>
                        <option selected> Building </option>
                        <option> Floor </option>
                        <option> Apartment </option>
                    </select>
                </div>
                <div class="form-group m-form__group">
                    <label for="amenity_description">
                        Description:
                    </label>
                    <textarea class="form-control m-input m-input--air" id="amenity_description" rows="2"></textarea>
                </div>
            </div>
        </div>
        <!-- ---------------------------Add Amenity Form Start---------------------------------- -->

    </div>

