
<div class="m-content">
     <div class="row" style="height: 100%;">
            
            <div class="verticals" id="vertical_1" >
                    <button routerLink="invite" class="btn btn-link pull-right" ><i class="fa fa-plus"></i> Invite</button>
                     <div class="clearfix"></div>                 
        
                <div *ngFor="let role of roles" class="innerCards stackEffect" [ngClass]="className === 'account' ? 'active_card': 'non_active_card'" id="card2">
                    <h6 class="innerCardsTitle m-menu__link-text">{{role.name}}</h6>
                    <a routerLink="1"><i class="fa fa-expand text-muted pull-right c-expand-icon" ></i></a>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-sm-4">
                            Relation:
                        </div>
                        <div class="col-sm-8">
                            {{role.relation}}
                        </div>
                    </div>

                    <div class="row">
                            <div class="col-sm-4">
                                Owner:
                            </div>
                            <div class="col-sm-8">
                                {{role.owner}}
                            </div>
                        </div>
                    
                </div>

                
                  
            </div>

        
    </div>
</div>

<p-sidebar [(visible)]="visibleSidebar5" [fullScreen]="true" [baseZIndex]="10000">

</p-sidebar>
