
<div class="m-content">
     <div class="row" style="height: 100%;">
            
            <div class="verticals" id="vertical_1" >
                    
                    <button routerLink="invite" class="btn btn-link pull-right" ><i class="fa fa-plus"></i> Invite</button>
                     <div class="clearfix"></div>                 
        
                <div *ngFor="let role of roles; let i=index;" class="innerCards stackEffect" [ngClass]="className === 'account' ? 'active_card': 'non_active_card'" id="card2">
                    <h6 class="innerCardsTitle m-menu__link-text">{{role.name}}</h6>
                    <a [routerLink]= "[ 'invite' , i]"><i class="fa fa-expand text-muted pull-right c-expand-icon" ></i></a>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-sm-4">
                            Relation:
                        </div>
                        <div class="col-sm-8">
                            {{role.relation}}
                        </div>
                    </div>

                    <div class="row">
                            <div class="col-sm-4">
                                Owner:
                            </div>
                            <div class="col-sm-8">
                                {{role.owner}}
                            </div>
                    </div>
                    <div class="progress-info">
                            <div class="progress">
                                <span style="width: 100%;" class="progress-bar progress-bar-success green-sharp">
                                    <span class="sr-only">Ideation</span>
                                </span>
                            </div>
                            <div class="status">
                                <div class="status-title" style="float:left; "> <button type="button" class="btn btn-link" data-toggle="modal" data-target="#owndersModel" style="padding:0px; color:grey; font-size: 12px;"> Admins </button> </div>
                                <div class="status-number" style="float:right;"> <a href="#" (click)="employesVertical=true;" ><i style="color:grey ;font-size: 12px;" class="fa fa-user"> 4</i></a> &nbsp; &nbsp; <i class="fa fa-comments"></i> 0 </div>
                            </div>
                    </div>
                    
                </div>

                
                  
            </div>

            <div class="verticals" id="vertical_2" *ngIf="employesVertical" (click)="accessVertical = true;"> 
                <div *ngFor="let employe of employes; let i=index;" class="innerCards stackEffect" [ngClass]="className === 'account' ? 'active_card': 'non_active_card'" id="card2" style="height: 112px;" >
                    <h6 class="innerCardsTitle m-menu__link-text">{{employe.name}}</h6>
                    <a routerLink="invite/1"><i  class="fa fa-expand text-muted pull-right c-expand-icon"></i></a>
                    <div class="clearfix"></div>
                    <span>{{employe.type}}</span>
                    <div  class="progress">
                        <span  class="progress-bar progress-bar-success green-sharp" style="width: 100%; background-color: red;">
                        </span>
                    </div>
                     <div class="row">
                            <div class="col-sm-4">
                                Specialized:
                            </div>
                            <div class="col-sm-8">
                                {{employe.specialized}}
                            </div>
                        </div>

                        <div class="row">
                                <div class="col-sm-4">
                                    Condos:
                                </div>
                                <div class="col-sm-8">
                                    {{employe.condos}}
                                </div>
                        </div>     

                        <div class="row">
                                <div class="col-sm-4">
                                    Parking:
                                </div>
                                <div class="col-sm-8">
                                    {{employe.parking}}
                                </div>
                        </div>                 
                </div>  
            </div>




            <div class="verticals" id="vertical_3" *ngIf="accessVertical" > 
                    <div *ngFor="let access of accesses; let i=index;" class="innerCards stackEffect" [ngClass]="className === 'account' ? 'active_card': 'non_active_card'" id="card2">
             
                    <h6 class="innerCardsTitle m-menu__link-text">{{access.name}}</h6>
                    <a *ngIf="access.name=='Floors'" data-toggle="modal" data-target="#floorDetails"><i  class="fa fa-expand text-muted pull-right c-expand-icon"></i></a>
                    <a *ngIf="access.name=='Condos'" data-toggle="modal" data-target="#condosDetails"><i  class="fa fa-expand text-muted pull-right c-expand-icon"></i></a>
                    <a *ngIf="access.name=='Gym'" data-toggle="modal" data-target="#gymDetails"><i  class="fa fa-expand text-muted pull-right c-expand-icon"></i></a>
             
                    <div class="clearfix"></div>
         
                    <p *ngIf="access.name=='Floors'"> 1,2,3,6,7,8 </p>
                     <p *ngIf="access.name=='Condos'"> 1-A , 2-B , 3-C </p>
                    </div>
    
                    
                      
                </div>




        
    </div>
</div>
<!-- 
<p-sidebar [(visible)]="visibleSidebar5" [fullScreen]="true" [baseZIndex]="10000">

</p-sidebar> -->

<div  aria-labelledby="exampleModalLabel" class="modal fade" id="owndersModel" role="dialog" tabindex="-1" >
        <div  class="modal-dialog modal-sm" role="document">
            <div  class="modal-content">
                <div  class="modal-header">
                    <h5  class="modal-title" id="exampleModalLabel">
                        Owners
                    </h5>
                    <button  aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span  aria-hidden="true">
                                ×
                    </span>
                    </button>
                </div>
                <div  class="modal-body" >
                    <div class="row" style="margin-bottom:15px;">
                        <div class="col-sm-3">
                            <img src="assets/app/media/img/users/user4.jpg" alt="" style="width:100%">
                        </div>

                        <div class="col-sm-6">
                            Christopher 
                        </div>
                    </div>

                    <div class="row" style="margin-bottom:15px;">
                            <div class="col-sm-3">
                                <img src="assets/app/media/img/users/user3.jpg" alt="" style="width:100%">
                            </div>
    
                            <div class="col-sm-6">
                                 Joseph
                            </div>
                        </div>
                </div>

                <div  class="modal-footer">
                    <button  class="btn btn-secondary" data-dismiss="modal" type="button">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>



    <div  aria-labelledby="exampleModalLabel" class="modal fade" id="floorDetails" role="dialog" tabindex="-1" >
        <div  class="modal-dialog modal-md" role="document">
            <div  class="modal-content">
                <div  class="modal-header">
                    <h5  class="modal-title" id="exampleModalLabel">
                        Floors
                    </h5>
                    <button  aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span  aria-hidden="true">
                                ×
                    </span>
                    </button>
                </div>
                <div  class="modal-body" >

                        <div class="tab-pane active" id="m_widget11_tab1_content">

                                <!--begin::Widget 11-->
                                <div class="m-widget11">
                                    <div class="table-responsive">

                                        <!--begin::Table-->
                                        <table class="table">

                                            <!--begin::Thead-->
                                            <thead>
                                                <tr>
                                                    <td class="m-widget11__app">Access</td>
                                                    <td class="m-widget11__sales">Start Time</td>
                                                    <td class="m-widget11__price">End Tme</td>
                                                </tr>
                                            </thead>

                                            <!--end::Thead-->

                                            <!--begin::Tbody-->
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <span class="m-widget11__title"><i class="fa fa-building-o" aria-hidden="true"></i> Floor 1</span>
                                                        <span class="m-widget11__sub"><i class="fa fa-sort" aria-hidden="true"></i> Elevator North-East</span>
                                                    </td>
                                                    <td>17-08-2017 12:00pm</td>
                                                    <td>20-08-2017 12:00pm</td>
                                                </tr>

                                                
                                                <tr>
                                                       <td>
                                                            <span class="m-widget11__title"><i class="fa fa-building-o" aria-hidden="true"></i> Floor 4</span>
                                                            <span class="m-widget11__sub"><i class="fa fa-sort" aria-hidden="true"></i> Elevator South-East</span>
                                                        </td>
                                                        <td>17-08-2017 12:00pm</td>
                                                        <td>20-08-2017 12:00pm</td>
                                                    </tr>
                                                    <tr>
                                                            <td>
                                                                <span class="m-widget11__title"><i class="fa fa-building-o" aria-hidden="true"></i> Floor 7</span>
                                                                <span class="m-widget11__sub"><i class="fa fa-sort" aria-hidden="true"></i> Elevator North-East</span>
                                                            </td>
                                                            <td>17-08-2017 12:00pm</td>
                                                            <td>20-08-2017 12:00pm</td>
                                                        </tr>
                                            </tbody>

                                            <!--end::Tbody-->
                                        </table>

                                        <!--end::Table-->
                                    </div>
                                </div>

                                <!--end::Widget 11-->
                            </div>
                </div>

                <div  class="modal-footer">
                    <button  class="btn btn-secondary" data-dismiss="modal" type="button">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>




    <div  aria-labelledby="exampleModalLabel" class="modal fade" id="condosDetails" role="dialog" tabindex="-1" >
            <div  class="modal-dialog modal-md" role="document">
                <div  class="modal-content">
                    <div  class="modal-header">
                        <h5  class="modal-title" id="exampleModalLabel">
                            Condos
                        </h5>
                        <button  aria-label="Close" class="close" data-dismiss="modal" type="button">
                                <span  aria-hidden="true">
                                    ×
                        </span>
                        </button>
                    </div>
                    <div  class="modal-body" >
    
                            <div class="tab-pane active" >
    
                                    <!--begin::Widget 11-->
                                    <div class="m-widget11">
                                        <div class="table-responsive">
    
                                            <!--begin::Table-->
                                            <table class="table">
    
                                                <!--begin::Thead-->
                                                <thead>
                                                    <tr>
                                                        <td class="m-widget11__app">Access</td>
                                                        <td class="m-widget11__sales">Start Time</td>
                                                        <td class="m-widget11__price">End Tme</td>
                                                    </tr>
                                                </thead>
    
                                                <!--end::Thead-->
    
                                                <!--begin::Tbody-->
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <span class="m-widget11__title"><i class="fa fa-home" aria-hidden="true"></i> 1 - A</span>
                                                            <span class="m-widget11__sub"><i class="fa fa-building-o" aria-hidden="true"></i> Floor 1</span>
                                                        </td>
                                                        <td>17-08-2017 12:00pm</td>
                                                        <td>20-08-2017 12:00pm</td>
                                                    </tr>
    
                                                    
                                                    <tr>
                                                           <td>
                                                                <span class="m-widget11__title"><i class="fa fa-home" aria-hidden="true"></i> 3 - C</span>
                                                                <span class="m-widget11__sub"><i class="fa fa-building-o" aria-hidden="true"></i> Floor 3</span>
                                                            </td>
                                                            <td>17-08-2017 12:00pm</td>
                                                            <td>Till Contract</td>
                                                        </tr>
                                                        <tr>
                                                                <td>
                                                                    <span class="m-widget11__title"><i class="fa fa-home" aria-hidden="true"></i> 7 - B</span>
                                                                    <span class="m-widget11__sub"><i class="fa fa-building-o" aria-hidden="true"></i> Floor 7</span>
                                                                </td>
                                                                <td>-</td>
                                                                <td>-</td>
                                                            </tr>
                                                </tbody>
    
                                                <!--end::Tbody-->
                                            </table>
    
                                            <!--end::Table-->
                                        </div>
                                    </div>
    
                                    <!--end::Widget 11-->
                                </div>
                    </div>
    
                    <div  class="modal-footer">
                        <button  class="btn btn-secondary" data-dismiss="modal" type="button">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>








        
    <div  aria-labelledby="exampleModalLabel" class="modal fade" id="gymDetails" role="dialog" tabindex="-1" >
            <div  class="modal-dialog modal-md" role="document">
                <div  class="modal-content">
                    <div  class="modal-header">
                        <h5  class="modal-title" id="exampleModalLabel">
                            Gym
                        </h5>
                        <button  aria-label="Close" class="close" data-dismiss="modal" type="button">
                                <span  aria-hidden="true">
                                    ×
                        </span>
                        </button>
                    </div>
                    <div  class="modal-body" >
    
                            <div class="tab-pane active" >
    
                                    <!--begin::Widget 11-->
                                    <div class="m-widget11">
                                        <div class="table-responsive">
    
                                            <!--begin::Table-->
                                            <table class="table">
    
                                                <!--begin::Thead-->
                                                <thead>
                                                    <tr>
                                                        <td class="m-widget11__app">Access</td>
                                                        <td class="m-widget11__sales">Start Time</td>
                                                        <td class="m-widget11__price">End Tme</td>
                                                    </tr>
                                                </thead>
    
                                                <!--end::Thead-->
    
                                                <!--begin::Tbody-->
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <span class="m-widget11__title"><i class="fa fa-futbol-o" aria-hidden="true"></i> Treadmill </span>
                                                            <span class="m-widget11__sub"><i class="fa fa-building-o" aria-hidden="true"></i> Gym (10th Floor)</span>
                                                        </td>
                                                        <td>17-08-2017 12:00pm</td>
                                                        <td>20-08-2017 12:00pm</td>
                                                    </tr>
    
                                                    
                                                    <tr>
                                                           <td>
                                                                <span class="m-widget11__title"><i class="fa fa-futbol-o" aria-hidden="true"></i> Stationary Bike </span>
                                                                <span class="m-widget11__sub"><i class="fa fa-building-o" aria-hidden="true"></i> Gym (10th Floor)</span>
                                                            </td>
                                                            <td>17-08-2017 12:00pm</td>
                                                            <td>20-08-2017 12:00pm</td>
                                                        </tr>
                                                        <tr>
                                                                <td>
                                                                    <span class="m-widget11__title"><i class="fa fa-futbol-o" aria-hidden="true"></i> Stair Steppers</span>
                                                                    <span class="m-widget11__sub"><i class="fa fa-building-o" aria-hidden="true"></i> Gym (10th Floor)</span>
                                                                </td>
                                                                <td>17-08-2017 12:00pm</td>
                                                                <td>20-08-2017 12:00pm</td>
                                                            </tr>
                                                </tbody>
    
                                                <!--end::Tbody-->
                                            </table>
    
                                            <!--end::Table-->
                                        </div>
                                    </div>
    
                                    <!--end::Widget 11-->
                                </div>
                    </div>
    
                    <div  class="modal-footer">
                        <button  class="btn btn-secondary" data-dismiss="modal" type="button">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
