

<div class="m-subheader">
    <div  class="d-flex align-items-center">
        <div  class="mr-auto">
            <h3  class="m-subheader__title">
                Digital Wallet Settings
                <!--<small class="text-muted custom_pointer" (click)="toggle_class()"><i class="fa fa-search"></i> </small>-->
                <!--<small class="custom_searchBox" [ngClass]="{'hideSearch': !isSearchBoxVisible, 'showSearch': isSearchBoxVisible}">-->
                <!--<input type="text">-->
                <!--</small>-->
                <small class="text-muted custom_pointer" (click)="toggleSearchBox()"><i class="fa fa-search"></i> </small>
                <small class="custom_searchBox">
                    <input class="searchBoxBorder" type="text" placeholder="search..." [(ngModel)]="searchText" [@slideRightLeft]="searchBox">
                </small>

            </h3>
        </div>

        <!--<button class="btn btn-link" (click)="changeAmenityView()">-->
            <!--<i class="fa" [ngClass]="{'fa-list': isAmenityGridView, 'fa-th' : !isAmenityGridView}"> {{AmenityViewName}} </i>-->
        <!--</button>-->

    </div>
</div>
<div  class="m-subheader breadcrumb-header">
    <ul  class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li  class="m-nav__item m-nav__item--home">
            <a  class="m-nav__link m-nav__link--icon" routerLink="/dashboard">
                <i  class="m-nav__link-icon la la-home"></i>
            </a>
        </li>
        <li  class="m-nav__separator">
            -
        </li>

        <li  class="m-nav__item">
            <a  class="m-nav__link" routerLink="/settings" >
                    <span  class="m-nav__link-text">
                        Settings
                    </span>
            </a>
        </li>
        <li  class="m-nav__separator">
            -
        </li>

        <li  class="m-nav__item">
            <a  class="m-nav__link" routerLink="/settings/financial-settings-global" >
                    <span  class="m-nav__link-text">
                        Financial Settings
                    </span>
            </a>
        </li>
        <li  class="m-nav__separator">
            -
        </li>


        <li  class="m-nav__item">
            <a  class="m-nav__link" routerLink="/settings/financial-settings-global/digital-wallet">
                        <span  class="m-nav__link-text">
                            Digital Wallet
                        </span>
            </a>
        </li>

    </ul>
</div>
<hr class="customhr">

<div class="m-content">
    <div class="row">

        <div class="col-lg-6 offset-md-3">
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--full-height">
                <!--<div class="m-portlet__head">-->
                    <!--<div class="m-portlet__head-caption">-->
                        <!--<div class="m-portlet__head-title">-->
                            <!--<h3 class="m-portlet__head-text">-->
                                <!--Borderless Solid Background Accordions-->
                            <!--</h3>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="m-portlet__body">

                    <!--begin::Section-->
                    <div class="m-accordion m-accordion--default m-accordion--solid" id="m_accordion_3" role="tablist">

                        <!--begin::Item-->
                        <div class="m-accordion__item">
                            <div class="m-accordion__item-head collapsed" role="tab" id="m_accordion_3_item_1_head" data-toggle="collapse" href="#m_accordion_3_item_1_body" aria-expanded="false">
													<span class="m-accordion__item-icon">
														<i class="fa fa-coins"></i>
													</span>
                                <span class="m-accordion__item-title">Preferred Digital Currency</span>
                                <span class="m-accordion__item-mode"></span>
                            </div>
                            <div class="m-accordion__item-body collapse" id="m_accordion_3_item_1_body" role="tabpanel" aria-labelledby="m_accordion_3_item_1_head" data-parent="#m_accordion_3" style="">
                                <div class="m-accordion__item-content">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="fa fa-search">

                                            </span>
                                            <span>
                                                <input type="text" placeholder="search here..." />
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--end::Item-->

                        <!--begin::Item-->
                        <div class="m-accordion__item">
                            <div class="m-accordion__item-head collapsed" role="tab" id="m_accordion_3_item_2_head" data-toggle="collapse" href="#m_accordion_3_item_2_body" aria-expanded="    false">
													<span class="m-accordion__item-icon">
														<i class="fa fa-user-check"></i>
													</span>
                                <span class="m-accordion__item-title">Co-Signers Approvals</span>
                                <span class="m-accordion__item-mode"></span>
                            </div>
                            <div class="m-accordion__item-body collapse" id="m_accordion_3_item_2_body" role="tabpanel" aria-labelledby="m_accordion_3_item_2_head" data-parent="#m_accordion_3">
                                <div class="m-accordion__item-content">
                                    <div class="m-form__group form-group" *ngIf="cosigners">
                                        <label for="">Co Signers</label>
                                        <div class="m-checkbox-inline">
                                            <label class="m-checkbox m-checkbox--solid m-checkbox--brand">
                                                <input type="checkbox" checked disabled> Niaz (You)
                                                <span></span>
                                            </label>
                                            <label class="m-checkbox m-checkbox--solid m-checkbox--brand">
                                                <input type="checkbox" checked> Moiz
                                                <span></span>
                                            </label>
                                            <label class="m-checkbox m-checkbox--solid m-checkbox--brand">
                                                <input type="checkbox" checked> Wahab
                                                <span></span>
                                            </label>
                                            <label class="m-checkbox m-checkbox--solid m-checkbox--brand">
                                                <input type="checkbox"> Muzammil
                                                <span></span>
                                            </label>
                                        </div>
                                        <br/>
                                        <span class="m-form__help">Selected persons are mandatory to approve this! </span>
                                        <br/>
                                        <button type="button" (click)="cosigners = !cosigners" *ngIf="cosigners"
                                                class="btn btn-outline-info float-right m--margin-bottom-10">

                                            Next <i class="fa fa-arrow-right"></i>
                                        </button>
                                    </div>

                                    <div class="m-form__group form-group" *ngIf="!cosigners">
                                        <label for="">Co Signers</label>
                                        <div class="m-checkbox-inline">
                                            <label class="m-checkbox m-checkbox--solid m-checkbox--brand">
                                                <input type="checkbox"> Mudasser
                                                <span></span>
                                            </label>
                                            <label class="m-checkbox m-checkbox--solid m-checkbox--brand">
                                                <input type="checkbox" checked> Nasir
                                                <span></span>
                                            </label>
                                            <label class="m-checkbox m-checkbox--solid m-checkbox--brand">
                                                <input type="checkbox" checked> Jason
                                                <span></span>
                                            </label>
                                            <label class="m-checkbox m-checkbox--solid m-checkbox--brand">
                                                <input type="checkbox"> Rowdy
                                                <span></span>
                                            </label>
                                            <label class="m-checkbox m-checkbox--solid m-checkbox--brand">
                                                <input type="checkbox"> Brody
                                                <span></span>
                                            </label>
                                        </div>
                                        <br/>
                                        <span class="m-form__help">Selected persons are mandatory to approve this! </span>
                                        <br/>
                                        <button type="button" (click)="cosigners = !cosigners"  *ngIf="!cosigners"
                                                class="btn btn-outline-info float-right m--margin-bottom-10">

                                            <i class="fa fa-arrow-left"></i> Back
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!--end::Item-->

                        <!--begin::Item-->
                        <div class="m-accordion__item">
                            <div class="m-accordion__item-head collapsed" role="tab" id="m_accordion_3_item_3_head" data-toggle="collapse" href="#m_accordion_3_item_3_body" aria-expanded="    false">
													<span class="m-accordion__item-icon">
														<i class="fa fa-database"></i>
													</span>
                                <span class="m-accordion__item-title">Backup &amp; Recovery</span>
                                <span class="m-accordion__item-mode"></span>
                            </div>
                            <div class="m-accordion__item-body collapse" id="m_accordion_3_item_3_body" role="tabpanel" aria-labelledby="m_accordion_3_item_3_head" data-parent="#m_accordion_3">
                                <div class="m-accordion__item-content">
                                    <div class="row" id="backup_recovery_key">
                                        <div class="col-md-12">
                                            <h4 class="bold">Backup Recovery Phase</h4>
                                            <small>Legibly write down the following 12 words onto printed recovery sheet. It is important to write down
                                                the words in exact order.
                                            </small>
                                        </div>

                                        <br/>
                                        <br/>

                                        <div class="col-md-3">
                                            1. Alpha
                                        </div>
                                        <div class="col-md-3">
                                            2. Bravo
                                        </div>
                                        <div class="col-md-3">
                                            3. Zulu
                                        </div>
                                        <div class="col-md-3">
                                            4. Tango
                                        </div>

                                        <div class="col-md-3">
                                            5. Vulture
                                        </div>
                                        <div class="col-md-3">
                                            6. Whiskey
                                        </div>
                                        <div class="col-md-3">
                                            7. Tiger
                                        </div>
                                        <div class="col-md-3">
                                            8. Delta
                                        </div>

                                        <div class="col-md-3">
                                            9. Nauts
                                        </div>
                                        <div class="col-md-3">
                                            10. Flank
                                        </div>
                                        <div class="col-md-3">
                                            11. Mother
                                        </div>
                                        <div class="col-md-3">
                                            12. Foxtrot
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--end::Item-->
                    </div>

                    <!--end::Section-->
                </div>
            </div>

            <!--end::Portlet-->
        </div>

    </div>
</div>
