/* You can add global styles to this file, and also import other style files */

// PrimeNG full screen scroll
.ui-sidebar-full {
  overflow-y: auto !important;
  overflow-x: hidden;
}

/*-------------------- Custom Scroll Bar -----------------------*/

/* SCROLLBAR */
/* Let's get this party started */
.ui-sidebar-full::-webkit-scrollbar {
  width: 7px;
  //display: none;
}

/* Track */
.ui-sidebar-full::-webkit-scrollbar-track {
  background: rgb(0,0,0);
  border: 4px solid transparent;
  background-clip: content-box;  /* This is Important*/

}

/* Handle */
.ui-sidebar-full::-webkit-scrollbar-thumb {
  background: rgb(42,180,192);
  border: 1px solid rgb(0,0,0);
}


.side-button-no-padding
{
  margin-top:25px;
  padding-right:0px;
  float: right
}


.ngx-dropdown-button
{
  border: none;
  box-shadow: 0px 3px 20px 0px rgba(113, 106, 202, 0.11);
    border: 1px solid #ebedf2 !important;
    height: 40px;
}

.ngx-dropdown-button:focus , .ngx-dorpdown-container:focus
{
  border-color: purple !important;
}

.m-checkbox.m-checkbox--brand.m-checkbox--solid > input:checked ~ span {
  background: #068ace;
}

.active_breadcrumb {
  color: #068ace !important;
  font-weight: 500 !important;
}

select.form-control.m-input.m-input--air.TopFilterSelect
{
  background-color: transparent;
  box-shadow: none;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #6F727D;
  padding: 0px;
  height: 26px;
}

select.form-control.m-input.m-input--air.TopFilterSelect:hover
{
  background-color: transparent;
}

.TopFilterSelect
{
  background-color: transparent;
  box-shadow: none;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #6F727D;
  padding: 0px;
  height: 26px;
}

.TopFilterSelect:hover, .TopFilterSelect:focus
{
  background-color: transparent;
}

.m-nav-sticky {
  display: none;
}
