<div class="m-subheader">
    <div class="d-flex align-items-center">
            <div class="mr-auto">
                <!--<h3 class="m-form__heading-title">-->
                <!--Amenities-->
                <!--</h3>-->
                <h3 class="m-subheader__title">
                     Subscriptions
                     <small  class="text-muted custom_pointer stats-icons"><i  class="fa fa-search"></i> </small>
                </h3>
            </div>
            
        </div>
</div>
<div class="m-subheader breadcrumb-header">
    <ul  class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li  class="m-nav__item m-nav__item--home">
            <a  class="m-nav__link m-nav__link--icon"  routerlink="/dashboard">
                <i  class="m-nav__link-icon la la-home"></i>
            </a>
        </li>
        <li  class="m-nav__separator">
            -
        </li>
       
       
        <li  class="m-nav__item">
            <a  routerLink="/financialManagement" class="m-nav__link" href="javascript:;" ng-reflect-href="javascript:;">
                <span  class="m-nav__link-text">
                    Financial Management
                </span>
            </a>
        </li>
        <li  class="m-nav__separator">
                -
        </li>
        <li  class="m-nav__item">
            <a  routerLink="/financialManagement" class="m-nav__link" href="javascript:;" ng-reflect-href="javascript:;">
                <span  class="m-nav__link-text">
                    Billing &amp; Subscriptions
                </span>
            </a>
        </li>
        
        <li  class="m-nav__separator">
            -
       </li>
       <li  class="m-nav__item">
        <a  routerLink="/financialManagement" class="m-nav__link" href="javascript:;" ng-reflect-href="javascript:;">
            <span  class="m-nav__link-text">
                Subscriptions
            </span>
        </a>
      </li>


         
    </ul>
</div>
<hr  class="customhr">
<div class="m-content">

</div>