<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Support Tickets
                <small class="fa fa-gear text-muted stats-icons"></small>
                <small class="fa fa-bar-chart text-muted stats-icons"></small>
                <small class="fa fa-search text-muted stats-icons"></small>
            </h3>

            <!--<div class="form-group m-form__group" style="display:inline-block;">-->
                <!--<select [(ngModel)]="customerType" class="form-control m-input form-control-sm" >-->
                    <!--<option value="All">-->
                        <!--All-->
                    <!--</option>-->
                    <!--<option value="Owners">-->
                        <!--Owners-->
                    <!--</option>-->
                    <!--<option value="Tenants">-->
                        <!--Tenants-->
                    <!--</option>-->

                <!--</select>-->
            <!--</div>-->
        </div>



        <!--<button class="btn btn-link pull-right " (click)="changeView()"><i class="fa"  [class.hidden]="!isGridView"  -->
                                                                           <!--[ngClass]="{'fa-list' : isGridView , 'fa-th' : !isGridView}" ></i> {{viewName}} </button>-->
        <div>
            <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
                <a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                    <i class="la la-plus m--hide"></i>
                    <i class="la la-ellipsis-h"></i>
                </a>
                <div class="m-dropdown__wrapper">
                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                    <div class="m-dropdown__inner">
                        <div class="m-dropdown__body">
                            <div class="m-dropdown__content">
                                <ul class="m-nav">
                                    <li class="m-nav__section m-nav__section--first m--hide">
										<span class="m-nav__section-text">
											Quick Actions
										</span>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="javascript:;" class="m-nav__link" data-toggle="modal" data-target="#c_modal_support">
                                            <i class="m-nav__link-icon fa fa-plus"></i>
                                            <span class="m-nav__link-text">
												New Ticket
											</span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-chat-1"></i>
                                            <span class="m-nav__link-text">
												Messages
											</span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-info"></i>
                                            <span class="m-nav__link-text">
												FAQ
											</span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                            <span class="m-nav__link-text">
												Support
											</span>
                                        </a>
                                    </li>
                                    <li class="m-nav__separator m-nav__separator--fit"></li>
                                    <li class="m-nav__item">
                                        <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
                                            Submit
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="m-subheader breadcrumb-header">
    <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
            <a class="m-nav__link m-nav__link--icon" routerLink="/dashboard" ng-reflect-href="#">
                <i class="m-nav__link-icon la la-home"></i>
            </a>
        </li>
        <li class="m-nav__separator">
            -
        </li>

        <li class="m-nav__item">
            <a class="m-nav__link" href="javascript:;" >
                <span class="m-nav__link-text">
                    Connect Dashboard
                </span>
            </a>
        </li>
        <li class="m-nav__separator">
            -
        </li>

        <li class="m-nav__item">
            <a class="m-nav__link" routerLink="/connect/support" >
                <span class="m-nav__link-text">
                    Support
                </span>
            </a>
        </li>
    </ul>
</div>
<hr class="customhr">
<!-- END: Subheader -->

<!-- Content Starts-->
<div class="m-content">

    <div class="m-portlet">
        <div class="m-portlet__body  m-portlet__body--no-padding">
            <h4 class="c-padding10"> Tickets Summary </h4>
            <div class="row m-row--no-padding m-row--col-separator-xl">
                <div class="col-xl-2">
                    <div class="m-widget14">
                        <div class="m-widget14__header">
                            <h3 class="m-widget14__title m--font-accent">
                                Open
                            </h3>
                            <span class="m-widget14__desc">
								{{issue_count}}
							</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2">

                    <div class="m-widget14">
                        <div class="m-widget14__header">
                            <h3 class="m-widget14__title m--font-success">
                                In Progress
                            </h3>
                            <span class="m-widget14__desc">
								0
							</span>
                        </div>
                        <!--<div class="m-widget14__chart" style="height:120px;"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>-->
                            <!--<canvas id="m_chart_daily_sales" style="display: block; width: 467px; height: 120px;" width="467" height="120" class="chartjs-render-monitor"></canvas>-->
                        <!--</div>-->
                    </div>

                </div>
                <div class="col-xl-2">
                    <div class="m-widget14">
                        <div class="m-widget14__header">
                            <h3 class="m-widget14__title m--font-primary">
                                Answered
                            </h3>
                            <span class="m-widget14__desc">
								0
							</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2">
                    <div class="m-widget14">
                        <div class="m-widget14__header">
                            <h3 class="m-widget14__title m--font-warning">
                                On Hold
                            </h3>
                            <span class="m-widget14__desc">
								0
							</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2">
                    <div class="m-widget14">
                        <div class="m-widget14__header">
                            <h3 class="m-widget14__title m--font-danger">
                                Closed
                            </h3>
                            <span class="m-widget14__desc">
								0
							</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2">
                    <div class="m-widget14">
                        <div class="m-widget14__header">
                            <h3 class="m-widget14__title m--font-info">
                                All Issues
                            </h3>
                            <span class="m-widget14__desc">
								{{issue_count}}
							</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--<hr class="customhr">-->
        <!--<div class="col-xl-12">-->
            <!--<table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer m&#45;&#45;padding-bottom-15" id="c_table_support" role="grid" aria-describedby="c_table_support_info">-->
                <!--<thead>-->
                <!--<tr>-->
                    <!--<th>#</th>-->
                    <!--<th>Tags</th>-->
                    <!--<th>Department</th>-->
                    <!--<th>Subject</th>-->
                    <!--<th>Tags</th>-->
                    <!--<th>Department</th>-->
                    <!--<th>Service</th>-->
                    <!--<th>Customer</th>-->
                    <!--<th>Status</th>-->
                    <!--<th>Priority</th>-->
                    <!--<th>Options</th>-->
                <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->
                <!--<tr role="row" class="odd">-->
                    <!--<td class="sorting_1">-->
                        <!--1-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--61715-075-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--China-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--Tieba-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--746 Pine View Junction-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--Nixie Sailor-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--Gleichner, Ziemann and Gutkowski-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--2/12/2018-->
                    <!--</td>-->
                    <!--<td><span class="m-badge  m-badge&#45;&#45;primary m-badge&#45;&#45;wide">Canceled</span></td>-->
                    <!--<td><span class="m-badge m-badge&#45;&#45;primary m-badge&#45;&#45;dot"></span>&nbsp;<span class="m&#45;&#45;font-bold m&#45;&#45;font-primary">Retail</span></td>-->
                    <!--<td nowrap="">-->
                        <!--<span class="dropdown">-->
                            <!--<a href="#" class="btn m-btn m-btn&#45;&#45;hover-brand m-btn&#45;&#45;icon m-btn&#45;&#45;icon-only m-btn&#45;&#45;pill" data-toggle="dropdown" aria-expanded="true">-->
                              <!--<i class="la la-ellipsis-h"></i>-->
                            <!--</a>-->
                            <!--<div class="dropdown-menu dropdown-menu-right">-->
                                <!--<a class="dropdown-item" href="#"><i class="la la-edit"></i> Edit Details</a>-->
                                <!--<a class="dropdown-item" href="#"><i class="la la-leaf"></i> Update Status</a>-->
                                <!--<a class="dropdown-item" href="#"><i class="la la-print"></i> Generate Report</a>-->
                            <!--</div>-->
                        <!--</span>-->
                        <!--<a href="#" class="m-portlet__nav-link btn m-btn m-btn&#45;&#45;hover-brand m-btn&#45;&#45;icon m-btn&#45;&#45;icon-only m-btn&#45;&#45;pill" title="View">-->
                            <!--<i class="la la-edit"></i>-->
                        <!--</a>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr role="row" class="even">-->
                    <!--<td class="sorting_1">-->
                        <!--2-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--63629-4697-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--Indonesia-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--Cihaur-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--01652 Fulton Trail-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--Emelita Giraldez-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--Rosenbaum-Reichel-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--8/6/2017-->
                    <!--</td>-->
                    <!--<td><span class="m-badge  m-badge&#45;&#45;danger m-badge&#45;&#45;wide">Danger</span></td>-->
                    <!--<td><span class="m-badge m-badge&#45;&#45;accent m-badge&#45;&#45;dot"></span>&nbsp;<span class="m&#45;&#45;font-bold m&#45;&#45;font-accent">Direct</span></td>-->
                    <!--<td nowrap="">-->
                        <!--<span class="dropdown">-->
                            <!--<a href="#" class="btn m-btn m-btn&#45;&#45;hover-brand m-btn&#45;&#45;icon m-btn&#45;&#45;icon-only m-btn&#45;&#45;pill" data-toggle="dropdown" aria-expanded="true">-->
                              <!--<i class="la la-ellipsis-h"></i>-->
                            <!--</a>-->
                            <!--<div class="dropdown-menu dropdown-menu-right">-->
                                <!--<a class="dropdown-item" href="#"><i class="la la-edit"></i> Edit Details</a>-->
                                <!--<a class="dropdown-item" href="#"><i class="la la-leaf"></i> Update Status</a>-->
                                <!--<a class="dropdown-item" href="#"><i class="la la-print"></i> Generate Report</a>-->
                            <!--</div>-->
                        <!--</span>-->
                        <!--<a href="#" class="m-portlet__nav-link btn m-btn m-btn&#45;&#45;hover-brand m-btn&#45;&#45;icon m-btn&#45;&#45;icon-only m-btn&#45;&#45;pill" title="View">-->
                            <!--<i class="la la-edit"></i>-->
                        <!--</a></td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</div>-->
    </div>

    <!-- Table Support Tickets Begin-->
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        All Tickets
                    </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <!--<ul class="m-portlet__nav">-->
                    <!--<li class="m-portlet__nav-item">-->
                        <!--<a class="btn btn-info m-btn m-btn&#45;&#45;custom m-btn&#45;&#45;icon m-btn&#45;&#45;air" href="#" ng-reflect-href="#">-->
							<!--<span>-->
								<!--<i class="la la-plus"></i>-->
								<!--<span>-->
									<!--New Record-->
								<!--</span>-->
							<!--</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li class="m-portlet__nav-item"></li>-->
                    <!--<li class="m-portlet__nav-item">-->
                        <!--<div aria-expanded="true" class="m-dropdown m-dropdown&#45;&#45;inline m-dropdown&#45;&#45;arrow m-dropdown&#45;&#45;align-right m-dropdown&#45;&#45;align-push" m-dropdown-toggle="hover">-->
                            <!--<a class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn&#45;&#45;icon m-btn&#45;&#45;icon-only m-btn&#45;&#45;pill  m-dropdown__toggle" href="#" ng-reflect-href="#">-->
                                <!--<i class="la la-ellipsis-h m&#45;&#45;font-brand"></i>-->
                            <!--</a>-->
                            <!--<div class="m-dropdown__wrapper">-->
                                <!--<span class="m-dropdown__arrow m-dropdown__arrow&#45;&#45;right m-dropdown__arrow&#45;&#45;adjust"></span>-->
                                <!--<div class="m-dropdown__inner">-->
                                    <!--<div class="m-dropdown__body">-->
                                        <!--<div class="m-dropdown__content">-->
                                            <!--<ul class="m-nav">-->
                                                <!--<li class="m-nav__section m-nav__section&#45;&#45;first">-->
													<!--<span class="m-nav__section-text">-->
														<!--Quick Actions-->
													<!--</span>-->
                                                <!--</li>-->
                                                <!--<li class="m-nav__item">-->
                                                    <!--<a class="m-nav__link" href="" ng-reflect-href="">-->
                                                        <!--<i class="m-nav__link-icon flaticon-share"></i>-->
                                                        <!--<span class="m-nav__link-text">-->
															<!--Create Post-->
														<!--</span>-->
                                                    <!--</a>-->
                                                <!--</li>-->
                                                <!--<li class="m-nav__item">-->
                                                    <!--<a class="m-nav__link" href="" ng-reflect-href="">-->
                                                        <!--<i class="m-nav__link-icon flaticon-chat-1"></i>-->
                                                        <!--<span class="m-nav__link-text">-->
															<!--Send Messages-->
														<!--</span>-->
                                                    <!--</a>-->
                                                <!--</li>-->
                                                <!--<li class="m-nav__item">-->
                                                    <!--<a class="m-nav__link" href="" ng-reflect-href="">-->
                                                        <!--<i class="m-nav__link-icon flaticon-multimedia-2"></i>-->
                                                        <!--<span class="m-nav__link-text">-->
															<!--Upload File-->
														<!--</span>-->
                                                    <!--</a>-->
                                                <!--</li>-->
                                                <!--<li class="m-nav__section">-->
													<!--<span class="m-nav__section-text">-->
														<!--Useful Links-->
													<!--</span>-->
                                                <!--</li>-->
                                                <!--<li class="m-nav__item">-->
                                                    <!--<a class="m-nav__link" href="" ng-reflect-href="">-->
                                                        <!--<i class="m-nav__link-icon flaticon-info"></i>-->
                                                        <!--<span class="m-nav__link-text">-->
															<!--FAQ-->
														<!--</span>-->
                                                    <!--</a>-->
                                                <!--</li>-->
                                                <!--<li class="m-nav__item">-->
                                                    <!--<a class="m-nav__link" href="" ng-reflect-href="">-->
                                                        <!--<i class="m-nav__link-icon flaticon-lifebuoy"></i>-->
                                                        <!--<span class="m-nav__link-text">-->
															<!--Support-->
														<!--</span>-->
                                                    <!--</a>-->
                                                <!--</li>-->
                                                <!--<li class="m-nav__separator m-nav__separator&#45;&#45;fit m&#45;&#45;hide"></li>-->
                                                <!--<li class="m-nav__item m&#45;&#45;hide">-->
                                                    <!--<a class="btn btn-outline-danger m-btn m-btn&#45;&#45;pill m-btn&#45;&#45;wide btn-sm" href="#" ng-reflect-href="#">-->
                                                        <!--Submit-->
                                                    <!--</a>-->
                                                <!--</li>-->
                                            <!--</ul>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</li>-->
                <!--</ul>-->
            </div>
        </div>
        <div class="m-portlet__body  ">  <!-- m-portlet__body--no-padding -->
            <div class="row m-row--no-padding m-row--col-separator-xl">
                <table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer m--padding-bottom-15" id="c_table_support" role="grid" aria-describedby="c_table_support_info">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Tags</th>
                        <th>Name</th>
                        <th> Email </th>
                        <th>Subject </th>
                        <th>Department</th>
                        <th>Service</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Priority</th>
                        <!--<th>last Reply</th>-->
                        <!--<th>Created</th>-->
                        <th>Options</th>
                    </tr>
                    </thead>
                    <tbody>
                    <div class="m-loader m-loader--brand customLoader" *ngIf="loader">
                    </div>
                    <tr role="row" *ngFor="let issue of issues; let i = index;" [ngClass]="{'even': i%2 === 0, 'odd':i%2 !== 0 }">
                        <td class="sorting_1">
                            {{i +1}}
                        </td>
                        <td>
                            61715-075
                        </td>
                        <td>
                            {{issue.name}}
                        </td>
                        <td>
                            {{issue.email}}
                        </td>
                        <td>
                            {{issue.subject}}
                        </td>
                        <td>
                            Support
                        </td>
                        <td>
                            Gleichner, Ziemann and Gutkowski
                        </td>
                        <td>
                            2/12/2018
                        </td>
                        <td><span class="m-badge m-badge--accent m-badge--dot"></span>&nbsp;<span class="m--font-bold m--font-accent">Open</span></td>

                        <!--<td><span class="m-badge  m-badge&#45;&#45;wide"-->
                                  <!--[ngClass]="{'m-badge&#45;&#45;primary': issue.priority == 1,-->
                                              <!--'m-badge&#45;&#45;warning': issue.priority == 2,-->
                                              <!--'m-badge&#45;&#45;danger': issue.priority == 3 }" value="abc">{{}}</span></td>-->

                        <td *ngIf="issue.priority == 1" ><span class="m-badge  m-badge--wide m-badge--primary" > Low </span></td>
                        <td *ngIf="issue.priority == 2" ><span class="m-badge  m-badge--wide m-badge--warning" > Medium </span></td>
                        <td *ngIf="issue.priority == 3" ><span class="m-badge  m-badge--wide m-badge--danger" > High </span></td>

                        <!--<td><span class="m-badge  m-badge m-badge wide m-badge&#45;&#45;primary">Cancelled</span></td>-->

                        <td nowrap="">
                            <span class="dropdown">
                                <a href="#" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">
                                  <i class="la la-ellipsis-h"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#"><i class="la la-edit"></i> Edit Details</a>
                                    <a class="dropdown-item" href="#"><i class="la la-leaf"></i> Update Status</a>
                                    <a class="dropdown-item" href="#"><i class="la la-print"></i> Generate Report</a>
                                </div>
                            </span>
                            <a href="#" class="m-portlet__nav-link btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" title="View">
                                <i class="la la-edit"></i>
                            </a>
                        </td>
                    </tr>
                    <!--<tr role="row" class="even">-->
                        <!--<td class="sorting_1">-->
                            <!--2-->
                        <!--</td>-->
                        <!--<td>-->
                            <!--63629-4697-->
                        <!--</td>-->
                        <!--<td>-->
                            <!--Indonesia-->
                        <!--</td>-->
                        <!--<td>-->
                            <!--Cihaur-->
                        <!--</td>-->
                        <!--<td>-->
                            <!--01652 Fulton Trail-->
                        <!--</td>-->
                        <!--<td>-->
                            <!--Emelita Giraldez-->
                        <!--</td>-->
                        <!--<td>-->
                            <!--Rosenbaum-Reichel-->
                        <!--</td>-->
                        <!--<td>-->
                            <!--8/6/2017-->
                        <!--</td>-->
                        <!--<td><span class="m-badge  m-badge&#45;&#45;danger m-badge&#45;&#45;wide">Danger</span></td>-->
                        <!--<td><span class="m-badge m-badge&#45;&#45;accent m-badge&#45;&#45;dot"></span>&nbsp;<span class="m&#45;&#45;font-bold m&#45;&#45;font-accent">Direct</span></td>-->
                        <!--<td nowrap="">-->
                            <!--<span class="dropdown">-->
                                <!--<a href="#" class="btn m-btn m-btn&#45;&#45;hover-brand m-btn&#45;&#45;icon m-btn&#45;&#45;icon-only m-btn&#45;&#45;pill" data-toggle="dropdown" aria-expanded="true">-->
                                  <!--<i class="la la-ellipsis-h"></i>-->
                                <!--</a>-->
                                <!--<div class="dropdown-menu dropdown-menu-right">-->
                                    <!--<a class="dropdown-item" href="#"><i class="la la-edit"></i> Edit Details</a>-->
                                    <!--<a class="dropdown-item" href="#"><i class="la la-leaf"></i> Update Status</a>-->
                                    <!--<a class="dropdown-item" href="#"><i class="la la-print"></i> Generate Report</a>-->
                                <!--</div>-->
                            <!--</span>-->
                            <!--<a href="#" class="m-portlet__nav-link btn m-btn m-btn&#45;&#45;hover-brand m-btn&#45;&#45;icon m-btn&#45;&#45;icon-only m-btn&#45;&#45;pill" title="View">-->
                                <!--<i class="la la-edit"></i>-->
                            <!--</a></td>-->
                    <!--</tr>-->

                    </tbody>
                </table>

                <!--<hr>-->

                <!--<ul >-->
                     <!--<ng-container *ngFor="let issue of issues">-->
                         <!--<li> {{issue.name}} </li>-->
                         <!--<li> {{issue.email}} </li>-->
                         <!--<li *ngIf="issue.priority == 1"> Low </li>-->
                         <!--<li *ngIf="issue.priority == 2"> Medium </li>-->
                         <!--<li *ngIf="issue.priority == 3"> High </li>-->
                     <!--</ng-container>-->
                <!--</ul>-->

            </div>
        </div>
    </div>

</div>
<!-- Content Ends-->

<!-- Modals Start -->

<!-- Support Ticket Modal Start-->
<div aria-labelledby="supportModalLabel" class="modal fade show" id="c_modal_support" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="supportModalLabel">
                    Support Ticket
                </h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
						<span aria-hidden="true">
							×
						</span>
                </button>
            </div>
            <div class="modal-body">
                <form novalidate (ngSubmit)="onSubmit(f)" #f="ngForm">
                    <div class="form-group">
                        <label class="form-control-label" for="support-email">
                            Email:
                        </label>
                        <input class="form-control form-control-md m-input m-input--air"
                               [ngClass] = "{
                                'tdfc_error': f_email.touched && f_email.invalid,
                                'tdfc_success': f_email.touched && f_email.valid }"
                               type="email"
                               id="support-email"
                               name="f_email"
                               #f_email="ngModel"
                               ngModel
                               autocomplete="off"
                               required
                               pattern="[^ @]*@[^ @]*">
                        <div *ngIf="f_email.touched && !f_email.valid" class="alert alert-danger m--margin-top-5">
                            Email is required
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="support-name">
                            Recipient Name:
                        </label>
                        <input class="form-control form-control-md m-input m-input--air" id="support-name" autocomplete="off" name="f_name" ngModel required type="text">
                    </div>
                    <div class="form-group">
                         <!--[ngClass]="{-->
                        <!--'has-danger': f.form.controls.email?.invalid && (f.form.controls.email?.dirty || f.form.controls.email?.touched),-->
                        <!--'has-success': f.form.controls.email?.valid && (f.form.controls.email?.dirty || f.form.controls.email?.touched) }" -->
                    <!-- > -->
                        <label class="form-control-label" for="support-subject">
                            Subject:
                        </label>
                        <input class="form-control form-control-md m-input m-input--air" id="support-subject" name="f_subject" autocomplete="off" ngModel required type="text">
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="support-priority">
                            Priority:
                        </label>
                        <select class="form-control m-input m-input--air" type="text" name="f_priority" ngModel required id="support-priority">
                            <option selected value="1"> Low </option>
                            <option value="2"> Medium </option>
                            <option value="3"> High </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="support-message">
                            Message:
                        </label>
                        <textarea class="form-control form-control-md m-input m-input--air" id="support-message" name="f_message" ngModel required></textarea>
                    </div>
                    <button class="btn btn-primary"  type="submit" [disabled]="f.invalid">
                        Submit
                    </button>

                <!--<div class="col-md-6 col-md-offset-3">-->
                    <!--<iframe width="600" height="850" src="http://intranet.citzen.one/crm/forms/ticket" frameborder="0" allowfullscreen></iframe>-->
                <!--</div>-->
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">
                    Close
                </button>
                <button class="btn btn-primary"  [disabled]="f.invalid" type="button">
                    Submit
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Support Ticket Modal Ends-->

<!-- Modals End -->
