.m-subheader {
	padding: 10px 30px 0 30px;
}
.breadcrumb-header {
	 margin-top: -15px !important;
 }
.breadcrumb-header li a span {
	font-size: 11px;
}
.stats-icons {
	font-size: 0.8rem;
	cursor: pointer;
}
.m-content {
	padding-top: 10px;
}
.c-padding10 {
	padding: 10px 0px 0px 10px;
}
.m-widget14 .m-widget14__header .m-widget14__desc {
	font-size: 2rem;
}
.m-widget14 .m-widget14__header {
	 padding: 0rem 0;
	 margin-bottom: 0rem;
}
.m-widget14 {
	padding: 1rem 2rem 1rem 2rem;
}
