<div *ngIf="currentBudget">
    <div class="m-subheader">
    <div class="d-flex align-items-center">
            <div class="mr-auto">
                <!--<h3 class="m-form__heading-title">-->
                <!--Amenities-->
                <!--</h3>-->
                <h3 class="m-subheader__title">
                     {{currentBudget.displayName}}
                     <small  class="text-muted custom_pointer stats-icons"><i  class="fa fa-search"></i> </small>
                </h3>
            </div>
            <button  class="btn btn-link pull-right" (click)="onAddClicked()"><i class="fa fa-plus"></i> Add </button>
        </div>
</div>
<div class="m-subheader breadcrumb-header">
    <ul  class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li  class="m-nav__item m-nav__item--home">
            <a  class="m-nav__link m-nav__link--icon"  routerlink="/dashboard">
                <i  class="m-nav__link-icon la la-home"></i>
            </a>
        </li>
        <li  class="m-nav__separator">
            -
        </li>
       
       
        <li  class="m-nav__item">
            <a  routerLink="/financialManagement" class="m-nav__link" href="javascript:;" ng-reflect-href="javascript:;">
                <span  class="m-nav__link-text">
                    Financial Management
                </span>
            </a>
        </li>
        <li  class="m-nav__separator">
                -
        </li>

        <li  class="m-nav__item">
            <a  routerLink="/financialManagement/FinancialPlanning" class="m-nav__link" href="javascript:;" ng-reflect-href="javascript:;">
                <span  class="m-nav__link-text">
                    Financial Planning
                </span>
            </a>
        </li>
        <li  class="m-nav__separator">
                -
        </li>
           
           
            <li  class="m-nav__item">
                <a  class="m-nav__link" href="javascript:;" >
                    <span  class="m-nav__link-text">
                        {{currentBudget.displayName}}     
                    </span>
                </a>
            </li>


         
    </ul>
</div>
<hr  class="customhr">
  <div class="m-content">
    <form #f="ngForm" (ngSubmit)="onFormSubmit(f)" *ngIf="isForm">
    <div class="row" >
        <div class="col-sm-1">
                <div class="dropdown">
                        <label for="" style="display:block"> Icon:</label>
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownIcons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="{{getIcon(currentIcon)}}"></i>
                        </button>
                        <div class="dropdown-menu iconsDropdown" aria-labelledby="dropdownIcons">
                            <a class="dropdown-item text-center" (click)="onSelectIcon(i)" *ngFor="let icon of icons;let i=index" href="#">
                                <i class="{{icon}} "></i> </a>
                        </div>
                    </div>
        </div>
        <div class="col-sm-2">
                <div class="form-group">
                        <label for="">Color:</label>
                        <input [ngModel]="'#ff0000'" name="color" class="form-control" type="color"/>
                </div>
        </div>

        <div class="col-sm-3">
            <div class="form-group">
                <label for="">Category Name:</label>
                <select #changeCategorySelect class="form-control m-input m-input--air" required ngModel name="category" (change)="onChangeCategory(changeCategorySelect.value)">
                    <option *ngFor="let category of currentBudget.categories"  value="{{category.catID}}">{{category.catName}}</option>
                </select>
            </div>
        </div>

        <div class="col-sm-3">
                <div class="form-group" *ngIf="isCustom" >
                        <label for="">Enter Custom Category:</label>
                        <input type="text" class="form-control m-input m-input--air"  ngModel required name="customCategory" />
                </div>
        </div>

        <div class="col-sm-3">
            <button style="margin-top:28px; float:right" [disabled]="!f.valid" type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Add</button>
        </div>
    </div>
   </form>

   <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                 {{currentBudget.displayName}} Categories
                            </h3>
                        </div>
                </div>
              
               
                <h3 class="totalheading" style="float: right;margin-top: 22px;">$<span>0</span></h3>
         </div>

        <div class="m-portlet__body" >
        <div class="row" *ngIf="currentBudget.entries.length>0">
           <table class="table table-hover table-light">
              <thead>
                 <tr class="uppercase">
                    <th>
                            <label  class="m-checkbox m-checkbox--solid m-checkbox--single m-checkbox--brand">
                                    <input class="chkboxes" type="checkbox">
                                    <span ></span>
                            </label>
                    </th>
                    <th> Icon </th>
                    <th> Category Name </th>
                    <th style="width:180px;"> Amount </th>
                    <th> Time Period </th>
                    <th> Total </th>
                     <th> Actions </th>
     
                 </tr>
              </thead>
              <tbody>
                 <tr *ngFor="let entry of currentBudget.entries ;let entryIndex = index">
                    <td>
                            <label  class="m-checkbox m-checkbox--solid m-checkbox--single m-checkbox--brand">
                                    <input class="chkboxes" type="checkbox">
                                    <span ></span>
                            </label>
                    </td>
                    <td ><div class="iconshadow" [style.background-color]="entry.color"><i class="fa {{ getIcon(entry.iconID) }} fa-2x"></i></div></td>
                    <td> {{ (entry.categoryType=='fixed') ? getCategoryName(entry.catID) : entry.customCatName }}   </td>
     
                     <td> 
                         <div class="form-group m-form__group" style="width: 180px;  padding-right: 10px;">
                                <input type="number" min="0" max="1000"  class="form-control m-input m-input--air" (input)="onChangeAmount($event , entryIndex)">
                          </div>
                    </td>
                    <td> <div class="form-group m-form__group">
                                                         <select class="form-control m-input m-input--air thetimeperiod" (change)="onChangeTimePeriod($event , entryIndex)">
                                                             <option value=""></option>
                                                             <option value="weekly">Weekly</option>
                                                             <option value="monthly">Monthly</option>
                                                             <option value="annually">Anually</option>
                                                             <option value="quarterly">Quarterly</option>
                                                             <option value="fortnightly">Fortnightly</option>
                                                         </select>
     
                                                     </div>
                      </td>
                      <td><span class="bold theme-font" appTotal [id]="entryIndex">0</span></td>
                       <td>
                            <div class="m-btn-group m-btn-group--pill btn-group" role="group" aria-label="First group">
                                    <button type="button" class="m-btn btn btn-success">
                                        <i class="fa fa-cog"></i>
                                    </button>
                                    <button type="button" class="m-btn btn btn-warning" (click)="onDelete(entryIndex)">
                                        <i class="fa fa-trash"></i>
                                    </button>
                            </div>
                      </td>
                 </tr>
              </tbody>
           </table>
           </div>

           <div class="row" *ngIf="currentBudget.entries.length==0">
                <h4 class="text-danger"> <strong><i class="fa fa-close fa-2x text-danger"></i></strong> No Entries Found For This Category.</h4>
           </div>

           </div>
           </div>
  </div>
</div>


<div *ngIf="!currentBudget">
    <div class="m-content">
            <h3 class="text-danger">Error 404. Category Not Found</h3>
    </div>
</div>

